.btn-align{
    text-align: right;
}

.image-box figure{
   
        margin: 0 0 1rem;
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
  
}
.side{
    padding: 0px 171px;
}

.social {
    margin-top: -145px !important;
}

.main-search-input {
    margin-top:40px !important;
}

.cofrm 
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    color: #c4ccd0;
}
input.cform[type=text], select, textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 14px;
    border-right: 1px solid #eee;
    background: #fff;
    padding: 0px;
    border: 1px solid #ffffff;
    border-radius: 0px;
    height: 48px;
}

input[type=submit] {
background-color: #0089c8;
color: white;
padding: 4px 9px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #0089c9;
}

.form-width{
        width: 110%;
}
/* Footer form ends  here */
.events-section .styled-pagination.style-two{
    margin-left: 40%;
}
btn-op:hover, btn-op:focus, btn-op:visited{
    background-color: #4489c9 !important;
    border-color: #4489c9 !important;
}
.social li a span {
    width: 140px;
    float: left;
    text-align: center;
    background: #0089c8;
    color: #fff;
    margin: -24px 45px;
    padding: 7px;
    transform-origin: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(45deg);
    border-radius: 5px;
    transition: all .5s ease .300ms;
}
.social li span:after{
    border-right: 10px solid #0089c8;
}

.events-section .right-side li {
    display: block;
    margin-right: 7px !important;
    font-size: 13px;
    color: #848484;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
}
.events-section .right-side p {
    font-size: 14px;
    margin-right: inherit !important;
    height: 85px;
}
.fl-wrap {
    float: left;
    /* width: 85%;
    margin-left: 7%; */
    position: relative;
}

.main-search-input-item input {

    font-size: 14px !important;

}
.social li:last-child a {
    border-radius: 0 0 5px 0;
    color: #fff !important;
}

.events-section .left-side {
    position: absolute;
    top: 0px;
    width: 170px;
    height: 170px;
}

.img-size{
height: 170px;
width: 193px !important;
}

.events-section .right-side {
position: relative;
margin-left: 230px !important;

}
.btn-primary{
color:#fff !important;
}
.loading-spinner {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 9999;
opacity: .5;
color: red;
font-size: 50px;
background: white;
display: block;
z-index: 999;
opacity: 0.9;
}
.loading-spinner i{
font-size:50px;
position:absolute;
top:50%;
left:50%;
}

.social li:last-child a:hover {
background: #ffffff;
color: #0089c8 !important;
}


.main-search-button {  

font-size:14px

}
.social li a:hover span {
visibility: visible;
opacity: 1;
transform: rotateY(0)
}

/* searchbar */

@media (min-width: 425px) and (max-width: 600px){
    .main-search-input-item input:first-child {
        border-radius: 10px;
    }
    .main-search-input {
        padding: 9px;
        
    }

}

            
@media only screen and (max-width: 400px){
.main-header .header-top .main-logo {
    float: none;
    position: relative;
    margin: 6px 45px !important;
}
}
.equalheight{
    height: 450px;
}
.hashtag {
    
    margin-bottom: -1px !important;
}

.social li:last-child a:hover {
    background: #ffffff !important;
    color: #0089c8 !important;
}

@media screen and (max-width: 600px){
    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px;
    
}
.main-search-input {
    padding: 9px;
    
}
}

@media (min-width: 992px){
.container{
    max-width: 100% !important;
    padding-left: 6%;
    padding-right: 6%;
}
}
@media (min-width: 768px){
.container {
    max-width: 100% !important;
    padding-left: 6%;
    padding-right: 6%;
}
.search-bar[_ngcontent-c1]{
    top:17% !important;
}
}
@media (min-width: 576px){
.container {
    max-width: 100% !important;
    padding-left: 6%;
    padding-right: 6%;
}
}
@media only screen and (max-width: 600px){
.main-search-button {
position: inherit !important;
right: 0px;
width: 100% !important;
color: #fff;
top: 0;
border: none;
border-top-right-radius: 14px;
border-bottom-right-radius: 19px;
border-top-left-radius: 14px;
border-bottom-left-radius: 19px;
}
}
            /*end  searchbar */

            @media (max-width: 768px){

                .social {
                
                    padding-bottom: 7%;
                }
.col-md-6 {
flex: 0 0 100%;
max-width: 100%;
}
            }
@media only screen and (min-width:320px) and (max-width:425px){
.events-section .left-side
{
    display: contents !important;
}
.events-section .left-side{
   
    width: 100% !important;
   
}
.events-section .right-side {
    position: inherit!important;
    margin-left: 0!important;
    margin-right: 0 !important;
    text-align: justify;
}
.img-size{
    width: 100% !important;
}

.page-title .title-text h1 {
    
    font-size: 33px;
}
.events-section .right-side h4{
    line-height: 25px !important;
}
}

@media (max-width: 768px) and (min-width: 600px){
.main-search-button {
    
    width: 100%!important;
}
}

.social .fas:hover {
color: #4489c8;
}
.social .fas{
color: white;
}
.social .v-color{
color: white;
}
.social .v-color:hover{
color: #4489c8;
}


.pagination-controls{
    width: 100%;
    text-align: center;
    font-size: 16px
}
.formlabel label {
    color: black;
    font-weight: 500;
    margin-left: 2%;
}
.formlabel input,label{
    font-size:14px;
    
}
pagination-controls{
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.events-section .right-side {
  
    margin-right: 0px !important;
}

.knowmore{
    float: right;
    cursor: pointer;
    font-size: 12px;
    padding-right: 10px;
    color: #007bff;
}
.stars{
    font-size:12px !important;
    z-index:-1;
}

.modal-content {

    margin-top: 10%;
}

.events-section .right-side h4 {
    height: 40px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
   
    /* Safari only override */
    ::input.cform, select, textarea{

margin-top: 5%;
    }
}

.events-left {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
}

.events-left, .events-right {
    margin-bottom: 5%;
}


@media (min-width: 320px) and (max-width: 500px){
.main-search-input-item input {
    height: 30px;
  }
  input {
   font-size: 12px;
  }
select{
font-size: 12px;
height: 28px;
}

.page-title {
 padding-top: 70px;
    padding-bottom: 40px;
}

.main-search-input-item select{
    border-radius: 6px; 
    }
    .main-search-button {
  
        height: 28px;
    }

    .main-search-input-item {
        height: 24px;
       }

}


#message{
    font-size:18px;
    color: #0089c8;
}

.modal-header{
    background-color: #0089c8;
    color: #fff;
}

.formlabel label {
    color: #0089c8;
    font-weight: 400;
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: capitalize;
}

.form-control{
    border-color: #0089c8;
    height: calc(2.6rem + 0.75rem + 2px);
    background-color: #f5f8f9 !important;
}
.form-group span{
    color: red;
}

.close {
    opacity: 5;
    color: #ffffff;
}

.btn-submit{
float: right;
}

.modal-dialog {
    max-width: 800px;
}

.modal-body {
    padding-right: 50px !important;
    padding-left: 50px !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}


.btn-lg{
    float: right;
    }
    

    .text-caps{
        text-transform: capitalize;
    }