<div class="loading-spinner">
  <i class="fa fa-spinner fa-spin"></i>
</div>
<div *ngIf="isLoaded">
  <app-header></app-header>
  <!--Main Explore page-->

  <!--Page Title-->
  <section class="page-title" style="background-image:url(assets/images/background/2.jpg);">
 <div class="container">
      <div class="title-text clearfix">
        <div class="container search-bar" id="searchbar">

          <h1>opportunities</h1>

          <ul class="title-menu">
            <li>
              <a routerLink="/">home</a>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
            <li>opportunities </li>

          </ul>


        </div>
        <form [formGroup]="searchForm" (ngSubmit)="Search()">
          <div class="container search-bar" id="searchbar">
            <div class="main-search-input fl-wrap">
              <div class="main-search-input-item">
                <input type="text" formControlName="events"   (change)="onClickMe($event)"  placeholder="What are you looking for?">
              </div>
              <div class="main-search-input-item autocomplete">
                <select (change)="oncitySelect($event)" placeholder="Select City" formControlName="city">
                  <option value="" [selected]="true">Select City</option>
                  <option *ngFor="let city of citylist" value={{city.id}} >
                    {{ city.city_name }}
                  </option>
                </select>
              </div>


              <div class="main-search-input-item autocomplete">
                <select (change)="onCategorySelect($event)" placeholder="Select Category" formControlName="category">
                  <option value="" [selected]="true">Select Category</option>
                  <option value="Skill Based Volunteering">Skill Based Volunteering</option>
                  <option value="Sensitization workshops">Sensitization workshops</option>
				        <option value="Group Volunteering Activities">Group Volunteering Activities</option>
				  <option value="Individual Volunteering Activities">Individual Volunteering Activities</option>
                </select>

              </div>
              <button type="submit" class="main-search-button">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!--End Page Title-->

  <!--events-section-->

  <div class="modal" id="Modalschedule">

    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Custom-Schedule</h4>
          <button type="button" class="close" data-dismiss="modal" (click)='modelDissmiss()'>X</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <flash-messages></flash-messages>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="formlabel">

              <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                          <label>Name of Organization<span>*</span></label>
                          <input type="text" formControlName="organization" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.organization.errors }" />
                          <div *ngIf="submitted && f.organization.errors" class="invalid-feedback">
                            <div *ngIf="f.organization.errors.required">Required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Date<span>*</span></label>
                          <input type="date" formControlName="date" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                          <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                            <div *ngIf="f.date.errors.required">Required</div>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                        <div class="form-group">
                          <label>No of Volunteers<span>*</span></label>
                          <input type="number" formControlName="volunteers" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.volunteers.errors }" />
                          <div *ngIf="submitted && f.volunteers.errors" class="invalid-feedback">
                            <div *ngIf="f.volunteers.errors.required">Required</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Address<span>*</span></label>
                              <input type="text" formControlName="location" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                              <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                                <div *ngIf="f.location.errors.required">Required</div>
                              </div>
                            </div>
                        
                      </div>
                      </div>
                      <div class="form-group">
                          <label>Description<span>*</span></label>
                          <input type="text" formControlName="description" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">*</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-lg">Submit</button>
                        </div>
                      </form>
        </div>
        <!-- Modal footer -->
  
      </div>
    </div>
  </div>

  <section class="events-section style-two" >
    <div class="container">
		<p style="text-align:center;font-size:30px;" *ngIf = "checkingevents">No events found!!</p>
      <div class="row" *ngIf = "checklist">
        <div class="col-md-6 col-sm-12 col-xs-12 " *ngFor="let experience of experiencelist | paginate: { itemsPerPage: 6, currentPage: p}">
          <div class="events-left">
            <div class="slide-item">
              <div class="left-side">
                <div class="image-box">
                  <figure>
                    <a >
                      <img class="img-size" src="{{experience.image_path}}" alt="">
                    </a>
                    <ul class='social'>

                      <li *ngIf="experience.event_type == 'Individual'; else condition1">
                        <a>
                          <i class="fas fa-user"></i>
                          <!-- <i class="fas fa-user"></i> -->
                          <span>{{experience.event_type}}</span>
                        </a>
                      </li>
                      <ng-template #condition1>
                        <li>
                          <a >

                            <i class="fas fa-users"></i>
                            <!-- <i class="fas fa-user"></i> -->
                            <span>{{experience.event_type}}</span>
                          </a>
                        </li>
                      </ng-template>
                      <!-- <i class="fas fa-user"></i> -->
                      <li *ngIf="experience.schedule_type == 'Pre-Schedule'; else condition2">
                        <a >
                          <i class="fas fa-clock"></i>
                          <!-- <i class="fas fa-user"></i> -->
                          <span>{{experience.schedule_type}}</span>
                        </a>
                      </li>
                      <ng-template #condition2>
                        <li>
                          <a >
                        
                            <i class="fas fa-calendar"></i>
                            <!-- <i class="fas fa-user"></i> -->
                            <span>{{experience.schedule_type}}</span>
                          </a>
                        </li>
                      </ng-template>
                      <!-- <li>
                                <a href="#">
                                  <i class="fas fa-clock"></i>
                                  <span>{{experience.schedule_type}}</span>
                                </a>
                              </li> -->
                      <li *ngIf="experience.participation_type == 'Workshop'; else condition3">
                        <a >
                          <b>W</b>
                          <!-- <i class="fas fa-user"></i> -->
                          <span>{{experience.participation_type}}</span>
                        </a>
                      </li>
                      <ng-template #condition3>
                        <li>
                          <a>
                            <b>V</b>
                            <!-- <i class="fas fa-user"></i> -->
                            <span>{{experience.participation_type}}</span>
                          </a>
                        </li>
                      </ng-template>

                    </ul>
                  </figure>
                </div>Z

              </div>
              <div class="right-side comment">
                <a (click)="opendetailedpage(experience,experience.schedule_type)"  (click)="scheduleButton(events)">
                  <h4 style="cursor:pointer;" (click)="knowmore(experience)">{{experience.experience_name}}</h4>
                  <a style="cursor:pointer;" (click)="onRatingSet(experience)">
                    <ngx-stars class="stars" style="float:left" [maxStars]="5" [initialStars]=experience.review 
                    [readonly]="true" (ratingOutput)="onRatingSet(experience); "> 
                   </ngx-stars>({{experience.review_count}})</a>
                </a>
                <ul>
                  <li *ngIf="experience.schedule_type == 'Pre-Schedule'">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>{{experience.date_scheduled}}</li>
                  <li *ngIf="experience.schedule_type == 'Pre-Schedule'">
                    <i class="fa fa-map-marker text-caps" aria-hidden="true"></i>{{experience.address}} {{experience.city_name}}</li>
                    <li *ngIf="experience.schedule_type == 'Custom-Schedule'">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>{{experience.city_name}}</li>
                  </ul>
                <p>{{experience.description}}</p>
                <!--                                <div class="link-btn">
                                                                                  <a href="event-details.html">read more</a>
                                                                              </div>-->
                <a *ngIf="islogin && experience.schedule_type == 'Custom-Schedule'" class="btnml btn-primary" (click)="scheduleButton(experience)">
                    Schedule Now
                  </a>
                  <a *ngIf="islogout && experience.schedule_type == 'Custom-Schedule'" class="btnml btn-primary" (click)="sendtologin()">
                    Schedule 
                  </a>
                <a  *ngIf="islogin && experience.schedule_type == 'Pre-Schedule'"  (click)="locationButton(experience)" class="btn-op btn-primary"> TagNow </a>
                <a  *ngIf="islogout && experience.schedule_type == 'Pre-Schedule'"  (click)="sendtologin()" class="btn-op btn-primary"> TagOn </a>
                <span class="knowmore" (click)="knowmore(experience);">Know More</span>
              </div>
              
              <div class="modal" id="Modallocation">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Pre-Schedule</h4>
                        <button type="button" class="close" data-dismiss="modal" (click)='modelClose()'>X</button>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                          <p *ngIf="contactmessage" style="background:green;
                          padding: 5px;
                          font-size: 15px;
                          color: #ffffff;
                          width: 100%;
                          height: auto !important;">{{message}}<span (click)="close();" style="color: #fff;float:right;cursor:pointer;">X</span></p>
                        <form [formGroup]="preForm" id="message" (ngSubmit)="tagon()" class="formlabel">
                        <div class="col-md-12" *ngFor="let area of locations">
                           
                          <div class="form-group has-success">
                            <span>
                              <input type="radio" [value]="area.id" formControlName="location"  /><label>  {{area.location}} ({{area.date_scheduled}})</label></span>
                            
                          </div>
                          <br>
                        </div>
                        <br>
                        <div *ngIf="submitted" style="color:red;margin-top:2%;">Please select the location</div>
                        <div class="form-group" style="margin-top:5%;">
                          <button type="submit" class="btn btn-location btn-primary btn-lg" 
                            >TagNow</button>
                        </div>
                      </form>
                      </div>
                      <!-- Modal footer -->
                    </div>
                  </div>
                </div>
            </div>







          </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <!--
          <div class="styled-pagination style-two">
            <ul>
              <li><a href="#" class="active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a class="next" href="#"><span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
          </div>-->
    </div>
  </section>
  <!--End events-section-->



  <!--end Explore page-->

  <!--FOoter-->
  <app-footer></app-footer>
</div>