<div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
<div class="limiter">
    <div class="container-login100">
        <div class="card" style="background: url(assets/images/Untitled-3.jpg) no-repeat center;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="home"><a routerLink="/"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to
                                Home Screen</a></div>
                        <div class="slider">
                            <div class="text">
                                <h2><b>Forgot Password?</b></h2>
                             
                            </div>
                            <div class="item active">
                                <img src="assets/images/1.png">
                            </div>
                    
                        </div>
                    </div>
                   
                    <div class="wrap-login100 col-md-4 col-md-offset-1">
                        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="login100-form">
                            <div class="logo">
                                <img src="assets/images/logo.png" alt="">
                            </div>
                            <flash-messages></flash-messages>
                            <div class="form-group row">
                              <label>Password</label>
                              <input type="password" formControlName="password" placeholder="Enter password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                  <div *ngIf="f.password.errors.required">Password is required</div>
                                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label>Confirm Password</label>
                              <input type="password" formControlName="confirmPassword" placeholder="Confirm password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" pattern="{{f.password.value}}"/>
                              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                  <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                  <div *ngIf="f.confirmPassword.errors.pattern"> Password & Confirm Password does not match.</div>
                              </div>
                          </div>
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn form-group">
                                    <div class="login100-form-bgbtn"></div>
                                    <button type = "submit" class="btn btn-primary">Reset</button>
                                </div>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>