table{
    font-size:14px;
    width:100%;
}
.form-control {
    padding:15px;
    font-size: 14px;
}
.Editprofile{
    width: 800px;
    margin: 10% auto;
    background: white;
    padding: 20px;
}
label{
    color: black;
    font-size: 18px;
    font-weight: 400;
}
.update{
    margin-right:10px;
}
.btn{
    font-size:14px;
}
.sub-heading{
    font-size: 25px;
    color: #3c8dbc;
    font-weight: 500;
}
.content-wrapper{
    overflow-y:hidden;
}
html{
    overflow-y:hidden;
}
.user-image{
    width:50px;
    height:50px;
    border-radius:100px;
    margin:10px;
}
.loading-spinner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .5;
    color: red;
    font-size: 50px;
    background: white;
    display: block;
    z-index: 999;
    opacity: 0.9;
  }
  .loading-spinner i{
    font-size:50px;
    position:absolute;
    top:50%;
    left:50%;
  }
  .content-header{
    background: #fff;
    margin: -5px -30px 30px;
    z-index: 1030;
    position: fixed;
    width: 100% !important;
    padding: 15px;
    box-shadow: 1px 0 5px rgba(0,0,0,.1);
    z-index: 99;
}
.content{
    background: transparent;
    margin-top: 4%;
    height: auto !important;
}
.content-wrapper{
    background:#ecf0f5;
}
h1 {
    margin-left: 2%;
    font-size: 24px;
    color: #1e88e5!important;
    font-weight: 100;
   
    
}
