
<div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
<app-dashboard-header></app-dashboard-header>
<div class="content-wrapper">
        <section class="content-header">
                <h1>
                    Edit Testimonial
                </h1>
              </section>
    <div class="Editprofile">
           <flash-messages></flash-messages>
        <form [formGroup]="edittestimonial" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>subject:</label>
                <input required type="text" formControlName="subject"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subject.errors}"
                />
                <div *ngIf="submitted && f.subject.errors " class="invalid-feedback">
                    <div *ngIf="f.subject.errors.required ">Subject is required</div>

                </div>
            </div>
            <div class="form-group" style="display:none;">
                <label>id:</label>
                <input required type="text" formControlName="id"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors}"
                />
                <div *ngIf="submitted && f.id.errors " class="invalid-feedback">
                    <div *ngIf="f.id.errors.required ">Subject is required</div>

                </div>
            </div>
            <div class="form-group" style="display:none;">
                <label>id:</label>
                <input required type="text" formControlName="user_id"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors}"
                />
                <div *ngIf="submitted && f.id.errors " class="invalid-feedback">
                    <div *ngIf="f.id.errors.required ">Subject is required</div>

                </div>
            </div>
            <div class="form-group" style="display:none;">
                <label>id:</label>
                <input required type="text" formControlName="id"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors}"
                />
                <div *ngIf="submitted && f.id.errors " class="invalid-feedback">
                    <div *ngIf="f.id.errors.required ">Subject is required</div>

                </div>
            </div>
            <div class="form-group">
                    <label>Message:</label>
                    <textarea formControlName="message"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors}"></textarea>
                    <div *ngIf="submitted && f.message.errors " class="invalid-feedback">
                        <div *ngIf="f.message.errors.required ">Message is required</div>
    
                    </div>
                </div>
            <br>
            <div class="form-group login-btn">
                <button class="btn btn-primary btn-lg update">Update</button>

            </div>
        </form>
    </div>
</div>