<header class="main-header">
        <div class="header-top headerborder">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 max-display-screen">
                        <div class="main-logo">
                            <figure>
                                <a routerLink="/"><img src="assets/images/logo.png" alt=""></a>
                            </figure>
                        </div>
                    </div>
                    <div class="main-logo min-display-screen">
                            <figure>
                                <a routerLink="/"><img src="assets/images/logo.png" alt=""></a>
                            </figure>
                        </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 zeropadding">
    
                        <nav class="main-menu">
                            <div class="navbar-header clearfix">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse show clearfix">
    
                                <ul class="navigation clearfix">
                                    <li>
                                        <a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Home</a>
                                    </li>
                                   
                                    <li>
                                        <a routerLink="/aboutus" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">about Us</a>
                                    </li>
                                    <li>
                                        <a routerLink="/explore" [ngClass]="{'active': tasksActive.isActive}" routerLinkActive="active">Explore</a>
                                    </li>
                                    <li> <a routerLink="/opportunitydetail" routerLinkActive #tasksActive="routerLinkActive" style="display: none"></a></li>
                                    <a *ngIf="customlayout" routerLink="/signin" class="btn-style-three">Sign in</a>
                                    <a *ngIf="customlayout" routerLink="/signup" class="btn-signup btn-style-three">Sign up</a>
                                    <li *ngIf="username" class="dropdown" (click)="drop()">
                                        <a> {{profile}}&nbsp; &nbsp;<span class="fa fa-angle-down"></span></a>
                                        <ul id="userDropDown">
                                            <li >
                                                <a routerLink = "/dashboard">
                                                    <i class="fas fa-user-alt"></i> Dashboard</a>
                                            </li>
                                            <li *ngIf="social_media_flag">
                                                <a routerLink = "/profile">
                                                    <i class="fas fa-user-edit"></i> Profile</a>
                                            </li>
                                            <li>
                                                <a (click)="logout()" *ngIf="username">
                                                    <i class="fas fa-user-edit"></i> Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="header-lower">
    
        </div>
    
    
    </header>