.profile-name{
    font-size: 14px;
    color: #0089c8 !important;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor:pointer;
   margin-left:5px;
}
.btn-style-three{
    margin-right:30px;
}
.main-header{
    background-color: #fefefe;
    position: fixed !important;
    border-bottom: 2px solid #0089c8;

}
a:hover {
    
    text-decoration: none !important;
}

@media (max-width: 1065px) {
.main-header{
    background-color: #fefefe;
    position: fixed !important;
    height:70px;
}

.main-menu {
    position: fixed;
    top: -8px;
    right: -50px;
    width: 600px;
    z-index: 50;
    padding: 0px 10px;
    background: #fff;
    border-bottom-left-radius: 0px;
    border-left: 1px solid #fff;
    border-bottom: 0px solid #ffffff;
    visibility: visible !important;
    opacity: unset !important;
    /* opacity: 0; */
    /* -webkit-transition: all 0.4s ease-in-out; */
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.main-menu .navbar-header .navbar-toggle .icon-bar {
    background: #000;
}
}


@media (min-width: 300px) and (max-width: 768px){
    .max-display-screen{
        display: none !important;
    }
    .min-display-screen{
        display: block !important;
    }
    .btn-signup{
        margin-top: 5%;

    }
    .fl-wrap {
        float: left;
        width: 100% !important;
        position: relative;
    }
    .main-menu {
        border-bottom: 2px solid #ffffff;
    }
    
    .main-header .header-top .main-logo img{
        width: 90% !important;
        margin-top:3%;
        z-index: 99;
    }
    .main-menu .navbar-header {
        position: relative;
        float: none;
        display: block;
        text-align: right;
       
        padding: 2px 0px;
        right: 0px;
        z-index: 12;
    }
    .main-menu{
        width: 200px !important;
    }
    .main-header .header-top .main-logo {
      margin: auto !important;
        /* padding: 2px 2px 2px 260px; */
    }
    .navbar-toggle {
        
        margin-top: 22px !important;
}
.main-menu .navbar-collapse > .navigation {
    float: none !important;
    margin: 0px !important;
    width: 100% !important;
    background: #474747;
    border: 1px solid #343739;
    border-top: none;
}

}
@media only screen and (min-width:768px){
    .mobile-logo{
        display: none;
    }
.min-display-screen{
    display: none !important;
}
.max-display-screen{
    display: block !important;
}
li .active{
    color:#0089c8 !important;
    padding-bottom:5px !important;
    border-bottom:3px solid #0089c8 !important;
}
}
.activeUser{
    display: block !important;
}
/* :not(.show).collapse{
    display: block !important;
} */
@media only screen and (max-width:768px){
    .show{
        display: none ;
        }
}
@media only screen and (max-width:992px){
    .main-menu .navigation > li > a{
        padding: 22px 0px;
        margin-right: 30px;
        }
        .main-menu {
            right: -70px;
        }
}

.main-menu .navbar-collapse > .navigation > li, .main-menu .navbar-collapse > .navigation > li > ul > li, .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li {
    border-top: 0px solid rgb(35, 112, 142) !important;
}


@media (min-width: 767px) and (max-width: 769px){
    .main-header .header-top .main-logo img {
        width: 90% !important;
    }
}

.main-menu .navigation > li.dropdown:hover > ul {
 
    top: 75% !important;
}