<!--Sponsors Style-->
<!-- <div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div> -->

<section class="sponsors-logos">
        <div class="your-logo wow fadeInUp">
            <div class="container">
                <div class="sec-title text-center">
                    <h3><span>Incubated and Supported by</span></h3>
                    <!-- <p>To become a better you, remember to be grateful to people who have contributed to making you who you are today.</p> -->
                </div>
              
                    <!-- Indicators -->
                
    
                    <!-- Wrapper for slides -->
                    <div class="container-sponser">
                        
                            <!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
                            <!-- <p-carousel headerText="Cars" [value]="cars">
                                    <ng-template let-car pTemplate="item">
                                        <div class="ui-grid ui-grid-responsive">
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12"><img src="assets/images/clients/{{car.brand}}.jpg" width="60"></div>
                                            </div>
                                        
                                            <div class="ui-grid-row">
                                                <div class="ui-grid-col-12">
                                                    <button type="button" pButton icon="pi pi-search" (click)="selectCar(car)"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-carousel> -->
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="image-box img-size">
                                            <a><img src="assets/images/clients/3.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="image-overly">
                                            <a><img src="assets/images/clients/2.png" alt=""></a>
                                        </div>
        
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="image-box img-size">
                                            <a><img src="assets/images/clients/4.png" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="image-overly">
                                            <a><img src="assets/images/clients/1.png" alt=""></a>
                                        </div>
        
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div class="image-box img-size">
                                            <a><img src="assets/images/clients/5.png" alt=""></a>
                                        </div>
                                    </div>
                            
                                </div>
                                     </div>
          
    
            </div>
        </div>
    </section>
    <!--End Sponsors Style-->
    
    
    <!--sponsors-subscribe Style-->
    <section class="sponsors-subscribe">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 right-side">
                <div class="section-text">
                    <h5>Connect With Us</h5>
                </div>
                <div class="icon-links">
                    <a href="https://www.facebook.com/letstagon/"  target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/LetsTagOn" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/letstagon/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/letstagon/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    
                </div>
            </div>
            <!-- <div class="col-md-6 col-sm-12 col-xs-12">
                       <form method="post" action="http://html.tonatheme.com/2017/charity2/index.html" class="subscribe-form">
                            <div class="form-group">
                                <input type="email" name="useremail" value="" placeholder="Enter Your Email Address" required="">
                                <button type="submit">Subscribe Now</button>
                            </div>
                        </form>
                    </div> -->
        </div>
    </section>
    <!--End sponsors-subscribe Style-->
    
    
    
    <!--Main Footer-->
    <footer class="main-footer container-footer">
        <div class="container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row">
                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                        <div class="about-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img class="image-size" src="assets/images/LTO_1.png" alt=""></a>
                            </div>
                            <div class="widget-content">
                                <p>LetsTagOn is your volunteering partner. We ‘Tag’ you to social development through sensitization, social immersions, internships and volunteering. 
                                    We offer positive & long-lasting volunteering experiences for you in partnership with a large network of non-profits and Social Enterprises. 
                                    Come, experience the joy of giving and hone your skills in the process! 
                                    Get ‘Tagged’! 
                                     </p>
                            </div>
    
                        </div>
                    </div>
                    <!--Footer Column-->
                    <div class="footer-column col-md-2 col-sm-6 col-xs-12">
                        <div class="links-widget">
                            <h4>quick links</h4>
                            <ul class="links-list">
                                <li><a routerLink="/aboutus"><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                                <li><a routerLink="/explore"><i class="fa fa-angle-right" aria-hidden="true"></i>Explore</a></li>
                                <li><a routerLink="/terms-condition"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms of Use</a></li>
                                <li><a routerLink="/privacy-policy"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                                <!-- <li><a href="team.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Volunteers</a></li>
                                <li><a href="blog.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Latest News</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <!--Footer Column-->
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <div class="contact-links">
                            <h4>contact us</h4>
                            <!-- <p>N S Raghavan Center for Entrepreneurial Learning, Indian Institute of Management, Bengaluru Karnataka, India.</p> -->
                            <div class="widget-content">
                                <div class="footer-info">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <h6>LetsTagOn, Welingkar Institute of Management (WeSchool) Electronic City Phase 1 Bengaluru – 560100 </h6>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <h6>+91 9008 204 204 </h6>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <a href="#">
                                        <h6>info@letstagon.com

                                        </h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Footer Column-->
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <p *ngIf="contactmessage" style="background: #0276af;
                        padding: 5px;
                        font-size: 10px;
                        width: 105%;">Thank you for your enquiry.We will contact you soon<span (click)="close();" style="float:right;cursor:pointer;">X</span></p>
                        <h4>Get in touch</h4>
                        <div class="container form-width">
                            <form class="form-size" [formGroup]="homeForm" (ngSubmit)="onSubmit()">
                                <label>Name</label>
                                <input required type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors}"
                                />
                                <div *ngIf="submitted && f.name.errors " class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">*</div>
                                </div>
                                <label>Email</label>
                                <input required type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors}"
                                />
                                <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required ">*</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                                <label>Phone</label>
                                <input required type="text" formControlName="phone" minlength="10" maxlength="10" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors}"
                                />
                                <div *ngIf="submitted && f.phone.errors " class="invalid-feedback">
                                    <div *ngIf="f.phone.errors.required ">Phone is required</div>
                                    <div *ngIf="f.phone.errors.pattern">Contact Number is not proper</div>
                                </div>
                                
    
                                <label class="cform">Message</label>
                                <textarea required type="text" formControlName="message" class="form-message" [ngClass]="{ 'is-invalid': submitted && f.message.errors}"></textarea>
                                <div *ngIf="submitted && f.message.errors " class="invalid-feedback">
                                    <div *ngIf="f.message.errors.required">*</div>
                                </div>
                                <div class="btn-align">
                                    <button class="btn btn-primary">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright-text text-center">Copyright © LetsTagOn 2019. All Rights Reserved</div>
            </div>
        </div>
    </footer>
    <!--Main Footer-->