/* @import '../node_modules/primeng/resources/themes/omega/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeicons/primeicons.css'; */


p.line-space {
    line-height: 1.5 !important;
     font-weight: 400;
      font-size: 15px;
     color: #fff !important;
     font-family: 'Nanum Gothic', sans-serif;
}

/* .img-size img{
height: 120px;
} */

.image-box img{
width: 160px;

}
.image-overly img{
    width: 160px; 
    /* height: 120px; */
}

@media only screen and (max-width:550px){
	
    .sponsors-logos h3 {
        font-size: 25px !important;
    }
}

/* Footer form starts  here */
.btn-align{
text-align: right;
margin-top: 5%;
}
.equalheight {
width: 100%;
}


.padding {
padding: 11.5rem 55px 2rem 30px;
}
@media (min-width:1200px) {
.container11 {
    width: 93%;
}
}
.cofrm 
.label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: 400;
color: #c4ccd0;
}
input.cform[type=text], select, textarea {
width: 100%;
padding: 3px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
/*               */
margin-bottom: 7px;
resize: vertical;
font-size: 11px;
}

input[type=submit] {
background-color: #0089c8;
color: white;
padding: 4px 9px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #0475a9;
}

.form-width{
    width: 110%;
}
/* Footer form ends  here */

.rev_slider_wrapper, .rev_slider, .tp-fullwidth-forcer, .rev_slider .tp-bgimg.defaultimg {
max-height: 600px !important;

}
.captborder{

    border-bottom: 2px solid #f2f2f2;
    width: 80%;
    margin: 25px;
}

.blog .rev_slider_wrapper, .blog .rev_slider, .blog .tp-fullwidth-forcer, .blog .rev_slider .tp-bgimg.defaultimg {
max-height: 100px !important;
}
/* Social sidebar starts  here */

.headerborder{

border-bottom: 0px solid #0089c8;
}

.main-header .main-header-info {

padding-top: 13px;
}
.countersize{
font-size: 55px !important;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before{
font-size: 55px;
color: #0089c8;
}

/* .btn-primary:hover{
background-color: #171a1d;
} */
.open>.dropdown-menu {

background-color: #0089c8;
}
.dropdown-menu>li>a {

color: #fff;
}
.welcome-section {
background-repeat: no-repeat;
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('/images/about/15.jpg');
    background-size: cover;

}

icons{
padding:22%;
}
.checked {
color: orange !important;
}
.btn-left{
left:18%;
}
.container-fluid {
padding-right: 210px !important;
padding-left: 210px !important;

}
/* .search-bar{
margin-top: 25%;
    width: 935px;
} */
/* #myInput {
border-box: box-sizing;
background-image: url('searchicon.png');
background-position: 14px 12px;
background-repeat: no-repeat;
font-size: 16px;
padding: 14px 20px 12px 45px;
border: none;
border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
position: relative;
display: inline-block;
}

*/

.dropdown-content {
display: none;

background-color: #f6f6f6;
min-width: 230px;
overflow: auto;
border: 1px solid #ddd;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.col_fourth:hover .overlay {

opacity: 0.5;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.row-margin{
margin-top:5px;
}

.sec-margin{
margin-top:-77px;
}

.form-size{
    display: inline-block;
    width: 100% !important;
    margin-bottom: 5px;
    font-weight: 300 !important;
    color: #fff;
    font-size: 14px !important;
    line-height: 2;
    margin-top: 5%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.49rem 1.75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 3.25rem;
}

.carousel-indicators{
    display:none !important;
}
.loading-spinner {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: .5;
	color: red;
	font-size: 50px;
  }
  .loading-spinner i{
	font-size:50px;
  }

.form-message{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 3.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow: hidden;
}
.main-footer h4{
    margin-top: 10px;
}
.main-footer .widgets-section .footer-column {
    margin-bottom: 0px;
}
.main-footer .widgets-section .footer-info i {
    top: 7px !important;
}
.footer-column .container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (min-width: 768px){
    .main-footer .container {
    max-width: 100% !important;
}
.col-sm-2{
    position: relative;
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
    }
}
@media (max-width: 575px){
    .form-size[_ngcontent-c3] {
        width: 91% !important;

    }
    .container-sponser {
        padding-left: 55px !important;
    }
    .col-xs-2{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    }
    .main-footer .widgets-section .contact-links {
        margin-right: 5px;
        margin-left: 5px;
    }
    .btn-align {
        margin-bottom: 8%;
    }
    
}

@media (min-width:765px) and (max-width:1024px){
    .image-size{
        width:180px;
    }
}

.main-footer .widgets-section .links-widget {
     margin-left: 0px !important;
}

.main-footer .form-message{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow: hidden;
}
footer.main-footer {
 
    padding: 90px 30px 0 30px;
}
.sponsors-subscribe {
  
    padding: 56px 0px 56px;
}
.sponsors-logos {
    padding-top: 50px;
}


@media (max-width:1040px) and (min-width:992px){
.main-footer h4 {
   
    font-size: 20px;
}
}

@media (max-width:992px) and (min-width:768px){
    .main-footer h4 {
   
        font-size: 14px;
    }
}

.container-sponser {
    width: fit-content;
    /* padding-right: 80px; */
         padding-left: 80px; 
    margin-right: auto;
    margin-left: auto;
}

.main-footer .widgets-section .footer-info {

    margin-top: 8%;
}
ul {
    margin-top: 25px;
}

.footer-info> .fa{
    font-size: 14px;
}

label {

    font-weight: 300 !important;
}


.main-footer .widgets-section p {
    padding-right: 10%;
}