
<div class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i></div>

<app-header></app-header>
<section class="container">
<div class="navbar">
    <h3>Terms and Conditions</h3>
</div>


    <div class="content-text">
        <p>
            LetsTagOn is a social network and online platform for various players in the social and development
            sector. People use our services to find and be found for volunteering opportunities, collaboration
            opportunities and to connect with others and information.
        </p>
        <br>
        <p>
            By accessing and using LetsTagOn (henceforth defined as “Service”), all Volunteers, Non-profits,
            corporates and other Registered Members (henceforth defined as “Users” or “User”) accept the
            following terms and conditions, without limitation or qualification.
        </p>  
    </div>
<br>
<br>
<h4>User Account:</h4>
<br>
<p>
    You are the sole authorized User of any account you create with LetsTagOn. You are responsible for
    maintaining the confidentiality of any password or account number provided by you or LetsTagOn.
    You are solely and fully responsible for all activities that occur under your password or account.
    LetsTagOn has no control over the use of any User&#39;s account and expressly disclaims any liability
    derived therefrom. Should you suspect that any unauthorized party may be using your password or
    account, you will notify LetsTagOn immediately. If you provide your cell phone number to LetsTagOn
    pursuant to the use of the Services, you hereby affirmatively consent to our use of your cell phone
    number for calls and texts in order to perform the Services.
</p>
<br>
<br>
<h4>Site Content:</h4>
<br>
<p>
    LetsTagOn is not responsible, and provides no warranty whatsoever, for the accuracy, effectiveness,
timeliness and suitability of any information or content obtained from third parties, including any
hyperlinks to or from third-party websites. Unless otherwise stated, the contents of this site including,
but not limited to, the text and images contained herein and their arrangement are the property of
LetsTagOn. All trademarks used or referred to in this website are the property of their respective
owners.
</p> 
<br>
<br>
<h4>User Content:</h4>
<br>
<p>
    User is solely responsible for all information, including but not limited to images, profiles, messages,
information (collectively &quot;User Content&quot;) that you upload, publish or display on or through LetsTagOn,
or transmit to or share with other Users. You may not post, transmit, or share User Content on the
Service that you did not create or that you do not have permission to post. You understand and agree
that we may, but are not obligated to, review and delete or remove (without notice) any content in our
sole discretion.<br><br>
You represent, warrant and agree that no content of any kind submitted through your account or
otherwise posted, transmitted, or shared by you on or through the Service will violate or infringe upon
the rights of any third party, including copyright, trademark, privacy, publicity or other personal or
proprietary rights; or contain libellous, defamatory or otherwise unlawful material.<br><br>
You may not modify, copy, distribute, frame, reproduce, republish, download, scrape, display, post,
transmit, or sell in any form or by any means, in whole or in part, any User Content without
LetsTagOn’s prior written permission. This does not apply to your own User Content.<br><br>
You retain full ownership of all of your User Content. However, you grant to LetsTagOn a non-
exclusive, royalty-free, perpetual, world-wide license with the right to grant sublicenses through
multiple tiers of sublicenses to publicly display, store, reproduce, create derivative works, and
otherwise use and reuse your User Content (or any portions or derivative works thereof) in any
manner, in any medium, for any purpose to the extent required to render or deliver the Service.<br><br>
LetsTagOn does not endorse any User Content or any opinion, recommendation, or advice expressed
therein, and LetsTagOn expressly disclaims any and all liability in connection with User Content.

Furthermore LetsTagOn is not responsible for the accuracy, usefulness, safety, confidentiality or
intellectual property rights of or relating to such User Content.
</p> 
<br>
<br>
<h4>Third Party Content</h4>
<br>
<p>
    The Service may offer access to links to web sites (&quot;Third Party Sites&quot;), belonging to or originating
from third parties. LetsTagOn is not responsible for any Third Party Sites; the LetsTagOn Terms and
Privacy Policy do not apply to Third Party Sites. If you decide to access Third Party Sites, you do so
at your own risk and you should review the applicable terms and policies.<br><br>
LetsTagOn may restrict, suspend or terminate any User&#39;s access to all or any part of the Service at
any time, for any or no reason, with or without notice and with no liability to LetsTagOn. Any use of
the Service and/or the Service Content other than as specifically authorized herein, without the prior
written permission of LetsTagOn, is strictly prohibited.
</p> 
<br>
<br>
<h4>Communications</h4>
<br>
<p>
    When you use the Website or send emails or other data, information or communication to us, You
    agree and understand that You are communicating with Us through electronic records and You
    consent to receive communications via electronic records from Us periodically and as and when
    required. We may communicate with you by email or by such other mode of communication,
    electronic or otherwise.
</p> 
<br>
<br>
<h4>Indemnity</h4>
<br>
<p>
    You shall indemnify and hold harmless LetsTagOn, its owner, affiliates, subsidiaries, group
companies (as applicable) and their respective officers, directors, agents, and employees, from any
claim or demand, or actions including reasonable attorneys&#39; fees, made by any third party or penalty
imposed due to or arising out of Your breach of this Terms and Conditions, Privacy Policy and other
Policies, or Your violation of any law, rules or regulations or the rights (including infringement of
intellectual property rights) of a third party.
</p> 
<br>
<br>
<h4>Usage of Website</h4>
<h5>You agree not to use the Service or LetsTagOn website to:</h5>
<br>
    <ol class="number">
        <li>harvest or collect email addresses or contact information of other users from the Service or
            the LetsTagOn website by electronic or other means for the purposes of sending unsolicited
            emails or other unsolicited communications;</li><br>
        <li>use the Service or the LetsTagOn website in any unlawful manner or in any other manner that
            could damage, disable, overburden or impair the website;</li><br>
        <li>use automated scripts to collect information from or otherwise interact with the Service or the
            LetsTagOn website;</li><br>
        <li>use any &quot;deep-link&quot;, &quot;page-scrape&quot;, &quot;robot&quot;, &quot;spider&quot; or other automatic device, program,
            algorithm or methodology, or any similar or equivalent manual process, to access, acquire,
            copy or monitor any portion of the LetsTagOn website or any Content, or in any way
            reproduce or circumvent the navigational structure or presentation of the LetsTagOn website
            or any Content, to obtain or attempt to obtain any materials, documents or information
            through any means not purposely made available through the Website. We reserve our right
            to bar any such activity.</li><br>
        <li>upload, post, transmit, share, store or otherwise make available any content that we deem to
            be harmful, threatening, unlawful, defamatory, infringing, abusive, inflammatory, harassing,
            vulgar, obscene, fraudulent, invasive of privacy or publicity rights, hateful, or racially,
            ethnically or otherwise objectionable;</li><br>
        <li>impersonate any person or entity, or falsely state or otherwise misrepresent yourself, your
            age or your affiliation with any person or entity;</li><br>
        <li>upload, post, transmit, share or otherwise make available any unsolicited or unauthorized
            advertising, solicitations, promotional materials, &quot;junk mail&quot;, &quot;spam&quot;, &quot;chain letters&quot;, &quot;pyramid
            schemes&quot;, or any other form of solicitation;</li><br>
        <li>upload, post, transmit, share, store or otherwise make publicly available on the Site any
            private information of any third party, including, addresses, phone numbers, email addresses,
            Social Security numbers and credit card numbers;</li><br>
        <li>solicit personal information from anyone under 18 or solicit passwords or personally
            identifying information for unlawful purposes;</li><br>
        <li>upload, post, transmit, share or otherwise make available any material that contains software
            viruses or any other computer code, files or programs designed to interrupt, destroy or limit
            the functionality of any computer software or hardware or telecommunications equipment;</li><br>
        <li>intimidate or harass other Users;</li><br>
        <li>upload, post, transmit, share, store or otherwise make available content that would constitute,
            encourage or provide instructions for a criminal offense, violate the rights of any party, or that
            would otherwise create liability or violate any local, state, national or international law;</li><br>
        <li>use or attempt to use another&#39;s account, service or system without authorization from
            LetsTagOn, or create a false identity on the Service or the LetsTagOn website.</li><br>
        <li>upload, post, transmit, share, store or otherwise make available content that, in the sole
            judgment of LetsTagOn, is objectionable or which restricts or inhibits any other person from
            using the LetsTagOn website, or which may expose LetsTagOn or its Users to any harm or
            liability of any type.</li><br>
      </ol>

      <p>
          LetsTagOn will make reasonable efforts to ensure 24 hours a day, 7 days a week availability of the
          LetsTagOn Website. However, we cannot guarantee this and take no responsibility for any loss or
          damage that occurs due to an interruption of access to the LetsTagOn Website. LetsTagOn may
          interrupt the LetsTagOn Website for maintenance reasons and will endeavor to provide reasonable
          notice of any planned events.
      </p>

</section>
<app-footer></app-footer>

