.left-side{
  padding: 0px 165px;   
}
.container-fluid {
  padding-right: 148px;
  padding-left: 148px;
}
.col-md-7 div:nth-of-type(1) img{
  width:35%;
  margin-right: -35% !important;
  margin-left: 33%;
  margin-top: 1%;
}
.col-md-7 div:nth-of-type(2) img{
  width:70%;
}
.row{
  margin-right:0px;
  margin-left:0px;
}
.logo {
  padding: 0px 0 40px 0px;
  text-align: center;
}
.modal {
  position: absolute;
}

.container-login100{
  background: #fff;
}
.wrap-login100{
  margin: 5% 0 5% 0;
padding: 15px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
}
.container-login100-form-btn{
  padding-top: 20px;
}
.card-body{
  padding: 0;
}
.carousel-control.left, .carousel-control.right{
background-image: linear-gradient(to right,rgb(255, 255, 255) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-indicators .active{
background-color: #0089c8;
}
.card{
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
  border:none;
background-size: cover;
width: 95%;
}
.slider{
padding:45px;
margin-top:5%;
padding-top: 0px !important;
}
.carousel-indicators{
bottom: -70px;
margin-left: 18%;
}
.text{
text-align:center;
}
.home{
padding: 25px 0 0 45px;
}
.fa-arrow-left{
padding: 0 10px 0 0px;
color:#0089c8;
}

h2{
color: black !important;
font-family: 'Raleway', sans-serif;

}
p {
line-height: 5.8em;
font-size: 11px;
color: #b9b5b5;
font-family: 'Nanum Gothic', sans-serif;
}
a{
color:black;
font-size:11px;
font-family: 'Nanum Gothic', sans-serif;
}
.login100-form-bgbtn{
background: none;
}
.logo img{
width:55%;
}
.wrap-login100-form-btn{
width:85%;
border-radius: 8px;
}
.carousel-control{
color: #0089c8;
}
.txt1{
font-family: 'Nanum Gothic', sans-serif;
font-size: 11px;
color: #8a8787;;
}
.txt2{
font-family: 'Nanum Gothic', sans-serif;
font-size: 11px;
color: #100606;
}
a:hover{
color: #0089c8;
}
.text-center1{
text-align:center;
}
.wrap-input100{
margin-bottom: 25px;
border-bottom: none;
}
.wrap-login100-form-btn a:hover{
color: #fff !important;
}
.input100{
font-family:'Nanum Gothic', sans-serif;
}
.text-center1 a{
color: #8a8787;

}

.carousel-signin{
  height: 325px !important;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.btn-primary {
color: #fff;
background-color: #0089c8;
border-color: #0089c8;
width: 100%;
}
.h2, h2 {
font-size: 2rem;
}
.col-md-7 div:nth-of-type(2) img {
margin-left: 17%;
margin-top: -3%;
}
.loading-spinner {
position: fixed;
left: 50%;
top: 50%;
width: 100%;
height: 100%;
z-index: 9999;
opacity: .5;
color: red;
font-size: 50px;
}
.loading-spinner i{
font-size:50px;
}

.form-control {
  font-size: 1.3rem;
   /* padding: 17px; */
}

.btn {
  font-size: 1.3rem;
  padding: 1rem 0.15rem;
}
.modal-title {
 
  font-size: 17px !important;
  color:#fff;
 
}
.modal-header{
  background-color: #0089c8;
}

label{
  color:#000;
  font-size: 14px;
  font-weight: 400;

}
.modal-dialog {
 position: relative;
  pointer-events: none;
}

.invalid-feedback {
 
  font-size: 12px;
}

.modal-btn{
width: 23%;
}
.close {
color:#fff;
font-size: 25px;
}
.btn-danger{
  /* margin-top:5%; */
  width:100%;
  background-color: #c82333;
  border-color: #bd2130;
  color: #fff;
}
.btn{
  border-radius:5px;
}
.fa {

  font-size: 18px;
}

.selector:not(*:root), .form-control {
  height: calc(1.5em + 1.75rem + 2px) !important;
}

.btn-padding{
padding-right: 9px;
padding-left: 0px;
}
.padding-gmail{
  padding-right: 0px !important;
padding-left: 0px !important;
}
.btn i {
  padding-left: 0px !important;
}