

<div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
<div class="limiter">
    <div class="container-login100">
        <div class="card" style="background: url(assets/images/Untitled-3.jpg) no-repeat center; background-size: cover;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="home"><a routerLink="/"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to
                                Home Screen</a></div>
                        <div class="slider">
                            <div class="text">
                                <h2><b>SIGN IN</b></h2>
                                <p> Welcome to LetsTagOn</p>
                            </div>
                            <div class="item active">
                                <img src="assets/images/1.png">
                            </div>
                    
                        </div>
                    </div>
                   
                    <div class="wrap-login100 col-md-4 col-md-offset-1">
                        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="login100-form">
                            <div class="logo">
                                <img  routerLink="/" src="assets/images/logo.png" alt="">
                            </div>
                            <flash-messages></flash-messages>
                            <div class="wrap-input100 form-group">
                                <input required type="text" formControlName="email" placeholder="Enter Email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors}" />
                                <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required ">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="wrap-input100 form-group">
                                <input type="password" formControlName="password" placeholder="Enter Password" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                            <div class="text-center1">
                                <a class="txt3" id="button-Modal">Forgot your Password?</a>
                            </div>
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn form-group">
                                    <div class="login100-form-bgbtn"></div>
                                    <div class="row">
                                        <div class="col-md-6 btn-padding">
                                                
                                                    <button type="button" class="btn btn-danger" (click)="socialSignIn('google')">
                                                        
                                                            <i class="fa fa-google" aria-hidden="true"></i>
                                                
                                                       
                                                      
                                                            &nbsp;Sign in with Gmail
                                                    
                                                    </button>
                                              
                                        </div>
                                        <div class="col-md-6 btn-padding">
                                                <button class="btn btn-primary">Login</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                          
                                    
                            <div class="text-center p-t-60">
                                <span class="txt1">
                                    Not a member?
                                </span>
                                
                                <a class="txt2" routerLink = '/signup'>
                                    Sign Up
                                </a>
                            </div>
                        </form>
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content" >
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Forgot Password</h4>
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                   
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <form [formGroup]="resetForm">
                                            
                                            <label>Enter Email</label>
                                            <input type="text" formControlName="email1" placeholder="Email" class="form-control"/>
                                           
                                                <div style="color:red;text-align:center; font-size:12px" *ngIf="emailVaildation">Email is required</div>
                                                <div style="color:red;text-align:center; font-size:12px;" *ngIf="emailexists">Email does not exists</div>
                                           <div class = "modal-footer">
                                                
                                            <button type="button" (click)="resetPassword(g.email1.value)" class="modal-btn btn btn-primary">Send</button>
                                           </div>
                                        </form>
                                       
                                    </div>
                                    <!-- Modal footer -->
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>