.main-sidebar{
    padding:0;
    top:9%;
}
.main-header {
    position:fixed;
    padding:0;
  
}
.navbar{
    min-height:60px;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: none;
  padding:0;
}
.sidebar-toggle{
    padding:0;
}
img{
    width:100%;
}
.logo-lg img{
    margin-left:-5%;
}
.skin-blue .main-header .navbar {
    background-color: #3c89c9;
}
.active{
    color:white !important;
    border-left: 3px solid white !important;
    background:#0089c8;
}

.dropdown-toggle{
    background: transparent;
    border: none;
    font-size: 14px;
    color: #aab9bf;
    width:100%;
    text-align:left;
}
.dropdown-toggle::after{
    display:none;
}
.dropdown-menu{
    width: 100%;
    background: #4a5b5f;
    color: white;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background: #4a5b5f;
    color: white;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    background-color: transparent;
    border:none;
}
.btn-primary:focus, .btn-primary.focus{
    border:none;
}
.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding-bottom: 5px;
    color: #a9aaa2;
}
.profile-name{
    color: white !important;
    margin-top: 10px !important;
    font-weight:400 !important;
}
.user-panel>.image>img{
    max-width:50px;
    min-width:50px;
    max-height:50px;
    min-height:50px;
}
 .main-sidebar{
    background-color: #222d32 !important;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 230px;
    position:fixed;
    z-index: 810;
    transition: width .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out,-webkit-transform .3s ease-in-out;
    box-shadow: 5px 0 10px rgba(0,0,0,.08);
}
.sidebar a {
    color: #ffffff;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 38px;
}
.image {
    width: 52px;
    margin: auto;
    font-size: 70px;
    color: #0089c8;
}
.fa-user {
    width: 100%!important;
    max-width: 45px!important;
    height: auto!important;
    font-size: smaller;
}
.info {
    color: #ffffff;
    font-size: 15px;
    margin-top: 45px;
    text-align: center;
}
.info>p{
    color:white;
    font-weight:500;
}
.main-header {
    position: fixed;
    max-height: 100px;
    z-index: 1030;
    width: -webkit-fill-available !important;
    box-shadow: 5px 0 10px rgba(0,0,0,.5);
}

.sidebar-container{
    height: 658px !important;
    overflow-y:auto;
}

@media only screen and (min-width: 320px) 
    and (max-width: 430px){

        img{
            width:50%;
        }
        .content{
            margin-top: 30% !important; 
        }
        .main-sidebar{
            position:absolute !important;
        }
}
@media only screen and (min-width: 425px) 
    and (max-width: 430px){

        img{
            width:43% !important;
        }
        .content{
            margin-top: 30% !important; 
        }
        .main-sidebar{
            position:absolute !important;
        }
}
.logo{
    min-height:60px;
}
.sidebar-mini .sidebar-collapse .main-sidebar .sidebar-container .info{
    display: none !important;
}
