<header class="main-header">

	<!-- Logo -->
	<a routerLink="/" class="logo" style="background:white;">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini">
			<img src="assets/images/logo-icon.png">
		</span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg">
			<img src="assets/images/logo.png">
		</span>
	</a>

	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top">
		<!-- Sidebar toggle button-->
		<a class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<!-- Navbar Right Menu -->
	</nav>
</header>
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar" style="height: auto;">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="{{profile}}" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>{{username}}</p>
				
			</div>
		</div>
		<ul class="sidebar-menu tree" data-widget="tree">
			<li>
				<a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<i class="fa fa-dashboard"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li>
				<a routerLink="/appliedoppurtunity" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<i class="fa fa-bar-chart"></i>
					<span>Applied Opportunities</span>
				</a>


			</li>
			<li>
				<a routerLink="/attendedoppurtunity" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<i class="fa fa-line-chart"></i>
					<span>Attended Opportunities</span>

				</a>
			</li>
			<li>
				<a routerLink="/request-opp" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<i class="fa fa-bar-chart"></i>
					<span>Requested Opportunities</span>

				</a>

			</li>

			<li *ngIf = "social_media_menu">
				<a routerLink="/profile" [ngClass]="{'active': tasksActive.isActive}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<i class="fa fa-users"></i>
					<span>View profile</span>

				</a>
			</li>
			<li style="display:none">
				<a routerLink="/editprofile" routerLinkActive #tasksActive="routerLinkActive">
					<i class="fa fa-user"></i>
					<span>View profile</span>

				</a>

			</li>
			<li *ngIf = "social_media_menu">
				<a routerLink="/change-password" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
					<i class="fa fa-unlock-alt"></i>
					<span>Change Password</span>

				</a>

			</li>
			<li>
				<a routerLink="/add-testimonial" [ngClass]="{'active': testimonial.isActive || settingsActive.isActive }" routerLinkActive="active"
				 [routerLinkActiveOptions]="{ exact: true }">
					<i class="fa fa-rss"></i>
					<span>Testimonial</span>
				</a>
			</li>
			<li style="display:none">
				<a routerLink="/edit-testimonial" routerLinkActive #settingsActive="routerLinkActive">
					<i class="fa fa-user"></i>
					<span>View profile</span>

				</a>
			</li>
			<li style="display:none">
				<a routerLink="/testimonial" routerLinkActive #testimonial="routerLinkActive">
					<i class="fa fa-dashboard"></i>
					<span>View profile</span>

				</a>
			</li>
			<li (click)="logout()">
				<a>
					<i class="fa fa-sign-out"></i>
					<span>Logout</span>
				</a>
			</li>

		</ul>
	</section>
	<!-- /.sidebar -->
</aside>