.btn-align{
    text-align: right;
}

btn-op:hover, btn-op:focus, btn-op:visited{
    background-color: #4489c9 !important;
    border-color: #4489c9 !important;
}
.btn-op {
    padding: 5px 10px !important;
}
.btn-primary{
    color:#fff !important;
}
    

.cofrm 
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    color: #c4ccd0;
}
input.cform[type=text], select, textarea {
    width: 100%;
    padding: 3px;
    border: 1px solid #0089c8;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: -3px;
    margin-bottom: 7px;
    resize: vertical;
    font-size: 11px;
}

input[type=submit] {
background-color: #0089c8;
color: white;
padding: 4px 9px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #0089c9;
}

.form-width{
        width: 110%;
}
/* Footer form ends  here */
    
        .login-box {
            background: #fff;
            padding: 20px;
            max-width: 480px;
            margin: 2vh auto;
            text-align: center;
            letter-spacing: 1px;
            position: relative;
        }

        .login-box h2 {
            margin: 20px 0 20px;
            padding: 0;
            text-transform: uppercase;
            color: #4688F1;
        }
        .tagnowbtn{
            background-color: #0089c8;
            font-family: 'Raleway', sans-serif;
            border-radius:0;
           
        }   
        .couses-section .left-side .image-box img{
            border-radius: 10px 10px 10px 10px;
        }
       
        .modal-footer {
            padding: 15px;
            text-align: center;
            border-top: 1px solid #e5e5e5;
        }
        .modal-body{
            font-size: 22px; 


        }
   
        .heading {
            font-size: 25px;
            padding: 28px 9px 28px 14px;
            font-weight: 600!important;
            text-align: center;
            color:#24c4f4;
        }
        .address{
            border: 1px solid;
            width:150%;
            margin-bottom: 3px;
        }
        .url{

            margin-left: 5px;
        }

        .share{
            margin-left: 64px;
        }   

        .col-sm-4{

            margin-left: 40px;
        }

        .heading1{
            margin-left: -147px;
        }
        .section-title>h7{
            margin-left: 50px;
            color: #0dceec !important;
            font-weight: 600;
            margin-bottom: 12px !important;
        }
        .categorise-menu>h6{
            font-weight: 600!important;
            color:black;
            font-size: 15px;

        }
        .couses-section .right-side .categorise-menu {
            margin-top: 15px;
        }
        .categorise-menu>h5{
            margin: 15px 0 0px 50px;
            font-size: 20px;
            color:#0dceec;
            margin-bottom: 20px;
        }
        .location-menu>h6{
            font-weight: 600!important;
            color:black;
            font-size: 15px;
            margin-top: -17px;
        }
        .location-menu>h5{
            margin: 15px 0 0px 50px;
            font-size: 15px;
            color:#0dceec;
            margin-bottom: 30px;
        }
        .cause-menu>h6{
            font-weight: 600!important;
            color:black;
            font-size: 15px;
            margin-top: -17px;
        }
        .cause-menu>h5{
            margin: 15px 0 0px 50px;
            font-size: 15px;
            color:#0dceec;
            margin-bottom: 20px;
            width: max-content;
            font-weight: 700;
        }
        .badge-causes {
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            background-color: #656060;
            color: #333;
            font-family: proxima-soft,Helvetica,Arial,sans-serif;
            font-size: 14px;
            padding: 6px 12px;
            margin: 0;
            text-transform: none;
        }
        .fa-star{
            margin-right: 8px;
            color: #ffd658 !important;
        }
        .register-btn{
            background-color: #0089c8;
            width: 100%;
            color:#f4f4f4;
            border-color: #0089c8;
            padding: 3px 0 3px 0;
            font-size: 20px;
            margin-bottom: 15px;
        }
        .register-btn:hover{
            color:#fff;
        }
        .sub-heading{
            font-weight: 600;
            margin-bottom: 15px;
            color: black;
            font-size: 16px;
        }
        .list{
            float:left;
            margin-top: 4px;
        }
        .list>h7{
            margin-left: 50px;
        }
        .description{
            padding-top: 0px !important;
        }
        .couses-section.style-two {
            padding: 70px 0px 70px 0;
        }
        .right-sidediv{
            margin-top: 7%;
        }
        .couses-section p{
            margin: 0px;
            padding: 40px;
            color:black;
        }           
        .savetree{
            margin-top: 35px;
            font-size: 35px;
            margin-left: 270px;
            color: #0089c8;
        }      
        .side{
            padding: 0px 165px;   
        }
        .container-fluid {
            padding-right: 148px;
            padding-left: 148px;
        }
        .page-title{
            padding-top: 220px;
            padding-bottom: 112px;
        }
        .page-title:before{
            background:no-repeat;
            background-size:cover;
        }
        .couses-section .right-side{
            margin-left: 0px;
        }
        .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
            padding: 15px;
            padding-right:0px;
            font-family: 'Nanum Gothic', sans-serif;
        }
        .table>thead>tr>th{
            padding: 8px;
        }
        /* .table{
            border-bottom: 1px solid #dddddd;
        } */
        tbody tr td:first-child{
            font-weight: 600;
           /* width:50%;*/
            border-right: 1px solid #dddddd;
        }
        .nav-box{
            border:1px solid #0089c8;
            padding: 0;
            border-radius: 6px;
        }			
        .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
            color: #fff;
            background-color: #0089c8;
            border: 1px solid #0089c8;
        }
        
        .tab-content>.active {
            display: unset !important;
        }
        .nav-tabs {
            border-bottom: 1px solid #0089c8;
        }
        html {
          box-sizing: border-box;
        }
        *, *::before, *::after {
          box-sizing: inherit;
        }

        .flex {
          flex-wrap: wrap;
          color: #fff;
          font-weight: 500;
        }

        .flex__item {
          background: #0089c8;
          padding: 1em;
          border: 1px solid #fff;
          border-radius: 4px;
          width: 60%;
        }

        .flex__item:nth-child(-n + 3) {
          flex-basis: 33.33%;
          text-align: center;
        }

        .flex__item:nth-child(n + 4) {
          flex-grow: 1;
        }

        .grid {
          display: grid;
          grid-template-areas: "a b c d d"
                               "f f g d d";
          color: #fff;
          font-weight: 500;
        }

        .grid__item {
          background: #009688;
          padding: 1em;
          border: 1px solid #fff;
        }

        .grid__item:nth-child(4) {
          grid-area: d;
        }

        .grid__item:nth-child(5) {
          grid-area: f;
        }
        h1{
            font-family: 'Raleway', sans-serif;
        }
        .title-menu, .couses-section p{
            font-family: 'Nanum Gothic', sans-serif;
        }
        .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, 
        .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, 
        .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
            font-family: 'Raleway', sans-serif;
            text-align:center;
            color: #fff;
            font-size: 20px;
            background-color: #0089c8;
        }
        label,.nav>li>a{
            font-family: 'Raleway', sans-serif;
        }
        .form-group label{
            color:#0089c8;
        }
        .formlabel input, label{
            font-size: 15px;
            border-color: #0089c8;
        }
        .form-control{
            background-color: #f7f6f6;
        }
        h2{
            color: #0089c8;
            text-align: center;
            font-size: 25px;
            float:left;
            margin-top: 2%;
            margin-bottom: 5%;
            margin-left: -2%;
        }
        .nav>li>a{
            font-weight:600;
        }
        .tab-content{
            height:20vh;
        }
        .couses-section{
            padding: 90px 0px 39px;
        }
        button{
            padding: 8px 25px 8px 25px;
            color: #fff;
            font-size: 18px;
            border-radius: 5px;
        }
        .testimonial-box img {
display: inline-block;
width: 90px;
height:90px;
border-radius: 50%;
margin: 0 0 15px;
}
.testimonial-box h4 {
color: #fe4819;
}
.testimonial-box p {
margin-bottom: 20px;
font-size: 17px;
font-style: italic;
font-weight: 400;
}
.ratings-icons {
color: #fec42d;
margin-bottom: 15px;
}
h4{
margin-left: 0px;
color: #0089c8;
}
.tab-content, .tab-pane{
    height:100%;
  }
 
  .card {
  
    border: 1px solid #0089c8 !important;
  }

  .loading-spinner {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .5;
    color: red;
    font-size: 50px;
    background: white;
    display: block;
    z-index: 999;
    opacity: 0.9;
  }
  .loading-spinner i{
    font-size:50px;
    position:absolute;
    top:50%;
    left:50%;
  }
  .table{
    font-size:15px !important;
  }

  .form-group {
    margin-bottom: 1rem;
    font-size: 14px !important;
}

.form-control {
    font-size: 1.3rem;
    padding: 1.6rem 0.75rem;
    margin-bottom: 3%;
  }
  .form-textarea{
    font-size: 1.3rem;
    padding: 2.0rem 0.75rem;
    margin-top: 1%;
    background-color: #f7f6f6;

  }


  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
    font-size: 14px;
   
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #0089c8;
    color: white;
  }
  .tagnowbtn-2{
    background-color: #292526;
    font-family: 'Raleway', sans-serif;
    float: left;
    font-weight: 600;
    padding: 4px 22px 5px 22px;
   
    font-size: 16px;
} 

.btn{
 
border-radius: 14px;
    
}
button{
    padding: 1px 15px 1px 15px;

}
@media (min-width: 768px) and (max-width: 991px){
.container {
    max-width: 100%;
}
.couses-section {
    padding: 90px 15px 39px;
}
}
@media (min-width: 451px) and (max-width: 767px){
    .container {
        max-width: 100%;
        padding: 0 30px 0;
    }
    .couses-section {
        padding: 90px 15px 39px;
    }
    .page-title .title-text h1{
        font-size: 33px;
    }
  
    }
    @media (min-width: 320px) and (max-width: 450px){
        .container {
            max-width: 100%;
        }
        .couses-section {
            padding: 90px 15px 39px;
        }
        .page-title .title-text h1{
            font-size: 20px;
        }
        }

        .td-border{
            border-right: 0px !important;
        }
        .close{
            color: black;
        }

        .formlabel{
      text-align: initial;
            color: #000;
            font-size: 14px;
        }
        
       
        .mat-calendar-content{
            z-index: 9999999 !important;
          
        }
.modal-header{
    z-index: 250 !important;
}
.modal {
  
    z-index: 9999 !important;
}
.heading{
    background-color: #3c8dbc !important;
    color: white;
    font-size: 14px;
    padding:10px;
    font-family:Raleway,sans-serif;
}
.review-block {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
}
.review-block-rate {
    font-size: 13px;
    margin-bottom: 15px;
}
.img-rounded{
    width: 60px;
}
.review-block-description{
    overflow-wrap: break-word;
}

.review-block-title{
    font-weight:600;
    font-size: 14px;
}
@media only screen and (min-width:320px) and (max-width:425px){
    .review-block {
        min-height:auto;
        max-height: max-content;
    }

}
.schedule_event{
    text-align:left;
}
.note-message{
    color:red;
    font-weight:600;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .text-align{
     text-align: end !important;
  }

  .formlabel label {
 
    margin-left: 0%;
  }

  .social .fas:hover {
    color: #4489c8;
    }
    .social .fas{
    color: white;
    }
    .social .v-color{
    color: white;
    }
    .social .v-color:hover{
    color: #4489c8;
    }

    .modal-content{
        margin-top: 16%
    }
    @media (min-width: 320px) and (max-width: 500px){
        .modal-content {
    
            margin-top: 25% !important;
        }
    }
    
    #message{
        font-size:18px;
        color: #0089c8;
    }

    .opp-row{
padding-top: 2%;
    }
    .container-opp{
        padding-left: 7%;
        padding-right: 7%;

    }

    pagination-controls {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }