.text{
    position: relative;
    line-height: 30px;
    margin-top: 50px;
    height: 115px;
    font-size: 16px;
    color: #c4ccd0;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}


 @media (min-width: 320px) and (max-width: 425px){
.page-title{
   padding-top: 0px !important;
    padding-bottom: 0px !important;
}
} 

.carousel-indicators li{
    display: none;
}
.testimonial-section{
    padding: 75px 0px 100px;
}
.img-circle{
    margin-left: 40%;
    width: 60px;
}
.author-info{
    text-align: center;
    padding-bottom: 40px;
}

@media (max-width: 767px){
.col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.testimonial-section .testimonial-carousel {
    margin-top: -4% !important;
}
}
@media (min-width: 992px){
.container {
    max-width: 1140px;
}
}
.volunteers-section .image-holder h5{
    text-transform: capitalize !important;
}
.volunteers-section h3{
    margin-bottom: 12%;
}

.volunteers-section{
    padding-top: 0px;
}

.nopadding{
    padding: 0 0 0 0 !important; 
}
.padding{
    padding: 5%;
}
.equalheight{
    height: 400px;
    width: 100%;
}
.news-section{
    padding: 0 !important;
}
.service-description{
    text-align: justify;
}
@media (min-width: 320px) and (max-width: 767px){
    .volunteers-section .image-holder{
		margin-bottom: 120px;
	}
     .col-md-6, .col-sm-6{
         margin-top: auto !important;
        position: relative !important;
     }
     .news-section{
        margin-top: -15% !important;
    }
.col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
 
    .volunteers-section .image-holder p{
        font-size: 15px;
        height: 35px;
    }
    .volunteers-section h3{
        margin-bottom: 23%;
    }
    .advisors{
        margin-top: -23%;
    }
    .direction {
        flex-direction: column-reverse;
        display: flex;
    }
 
    .equalheight{
        height: auto;
    }
    .about-section{
        padding-top: 43px;
        padding-bottom: 0px;
    }
    .text{
        height: auto;
    }
    .volunteers-section{
        padding-bottom: 30px;
    }

    .text {
        margin-top: 45px;
    }
    
}
@media (min-width: 320px) and (max-width: 600px){
 
    .equalheight{
        height: auto;
    }
}
@media (min-width: 320px) and (max-width: 500px){
 
    .equalheight{
        height: auto;
    }
    .news-section{
        margin-top: -37% !important;
    }
    .advisors{
        margin-top: -40%;
    }
    .volunteers-section h3{
        margin-bottom: 32%;
    }
    .text{
        height: auto;
    }
    .testimonial-section .sec-title p{
        margin-bottom: 70px;
    }
    .about-section .sec-title p{
        font-size: 16px;
        color: #666666;
    }
    .service-description{
        padding: 0 15px 0;
    }
    .testimonial-section .testimonial-carousel {
         margin-top: -10% !important;
    }


}

.loading-spinner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .5;
    color: red;
    font-size: 50px;
    background: white;
    display: block;
    z-index: 999;
    opacity: 0.9;
  }
  .loading-spinner i{
    font-size:50px;
    position:absolute;
    top:50%;
    left:50%;
  }

  .testimonial-section .testimonial-carousel {
    margin-top: -2%;
}



@media only screen and (max-width:550px){

    .about-section .sec-title h3 {
        font-size: 25px !important;
    }
    .volunteers-section h3 {
        font-size: 25px !important;
}
.news-section h3 {
    font-size: 25px;
}
}
@media only screen and (max-width:550px){
    .page-title .title-text h1 {
   
        font-size: 33px !important;
    }
    
}
@media (min-width:320px) and (max-width:425px){
    .img-circle {
        margin-left: 22% !important;
    }
}
 
@media only screen and (max-width:768px){
    .bottom20 {
        margin-bottom: 0px;
        font-size: 25px !important;
    }
    p {

        font-size: 13px;
    }
    .nonprofit-section .sec-title h3{
        height: 40px;
    }
}
@media only screen and (min-width:768px){
    .volunteers-section .image-holder {
     
        height: 400px !important;
      
    }

}



@media only screen and (min-width: 768px) {
    .volunteers-section {
        padding-bottom: 0px !important;
    }
}
@media (min-width: 375px) and (max-width: 500px){
    .testimonial-section .icon-quort i {
       
        top: 69px !important;
    }
}
p{
    color:#666666;
}
.volunteers-section .image-box img{
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 180px;
	height: 180px;
	border: 8px solid #e5e5e5;
	border-radius: 50%;
	
}

  /* Safari only */

    
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
::i-block-chrome,.testimonial-section .icon-quort i {
       
    margin-left: 490px;
}

::i-block-chrome,.testimonial-section .icon-quort:after {
    margin-left: 530px;
}
}

  

.card {
    border: 0px solid rgba(0, 0, 0, 0.125) !important;
    transition: 0.3s;

    
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }

  .row-margin{
    margin-bottom: 3%;
  }

  .text-size{
      font-size: 14px;
  }

  .ind-font{
    font-size: 14px;
    color: white;
  }

  .vertical{
    border-left: 2px solid white;
    height: 350px;
    position: absolute;
    left: 50%;
    
}

.about-section{
background: #fbfbfb;
}

.offering-sec{
    margin-top:4%;
}

.news-section{
    margin-top:4%;
}

@media (min-width:320px) and (max-width:711px){
    .vertical {
        position: inherit !important;
    }
  
}

@media (min-width:320px) and (max-width:425px){
    .sec-title h3 {
        font-size: 19px !important;
}
.col-margin{
    margin-top: 35% !important;
}
}

@media (min-width:425px) and (max-width:768px){
    .sec-title h3 {
        font-size: 22px !important;
}
}


@media (min-width:320px) and (max-width:322px){
    .col-margin{
        margin-top: 115% !important;
    }
}
@media (min-width:320px) and (max-width:768px){
    .vertical { 
        border-left: 0px solid white; 
}
}

@media (min-width:322px) and (max-width:350px){
    .col-margin{
        margin-top: 107% !important;
    }
}

@media (min-width:350px) and (max-width:390px){
    .col-margin{
        margin-top: 95% !important;
    }
}

@media (min-width:390px) and (max-width:425px){
    .col-margin{
        margin-top: 65% !important;
    }
}
@media (min-width:425px) and (max-width:500px){
    .col-margin{
        margin-top: 70% !important;
    }
}

@media (min-width:500px) and (max-width:767px){
    .col-margin{
        margin-top: 35% !important;
    }
}

@media only screen and (max-width: 768px){
p {
    font-size: 13px !important;
}
}

b, strong {
    font-weight: 600;
    font-size: 18px;
    font-family: nanum gothic;
}

ol li {
margin: 5px;
font-family: 'Nanum Gothic', sans-serif;
list-style: decimal !important;  
  }
  ul li {

    font-family: 'Nanum Gothic', sans-serif;
    list-style: disc !important; 
    font-size: 16px; 
      }
  p{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: justify;

  }
  .offering-sec h2{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
  }
  .nonprofit-section .sec-title h3 {

    height: 48px !important;
}

.nonprofit-section {

    padding: 48px 0px 110px !important;
}

.abt-list {
    margin-left:5%;
}

.volunteers-section .image-holder p {
  
    text-align: center;
}