<!-- <div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
<div *ngIf="isLoaded"> -->
<app-header></app-header>
<!--Page Title-->
<section class="page-title" style="background-image:url(assets/images/background/abt.jpg); margin-top: 70px;">
  <div class="container">
      <div class="title-text clearfix">
          <h1>About us</h1>
          <ul class="title-menu">
              <li><a routerLink = "/">home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
              <li>About us</li>
          </ul>
      </div>           
  </div>
</section>
<!--End Page Title-->

    <!--about-section Style-->
    <section class="about-section">
      <div class="container">
          <div class="sec-title">
              <h3>Who we <span>are</span></h3>
              <p><b>We are your volunteering partner.</b>
             </p>
             <br>
             <p> Whether you are  </p>
          </div>
   <div class="content-text">
              <ul class="abt-list">
                  <li><p>An educational institute wanting your students to experience the joy of contributing to social development and honing their skills in the process? or</p> </li>
                  <li><p>A corporate designing volunteering programs and looking for social impact experiences to engage your employees? or</p> </li>
                  <li><p>An individual wanting to volunteer...</p>
                        </li>
                </ul>
          </div>
         <p>you will find your volunteering partner in LetsTagOn! <br><br>
                     <b style="font-size: 14px">We build positive & long-lasting experiences for you in partnership with a large network of NGOs and Social Enterprises.</b></p>
          
      </div>
  </section>


  <section class="about-section">
  <div class="container">
      <div class="sec-title">
  <h3>What we <span>do</span></h3>
  <br>
  <div class="content-text">
         <p style="padding-bottom:5%;">Volunteering in India is only 1/10th of the developed nations as per the United Nations 2018 State of the World’s Volunteerism Report. There are several challenges faced by the youth, key ones being lack of information & guidance, 
          mismatch of skills & interests, inadequate planning and implementation and efforts not duly recognized.<br>
<br>
            LetsTagOn addresses these gaps by acting as an ecosystem partner to facilitate effective and efficient engagement
             of youth with the development sector with technology innovation as a key enabler.<br>
             <br>
            We offer Digital Platform, Services and Consulting for service learning, pro bono and volunteering. 
            <br><br>
            Digital platform offers a wide range of curated social impact experiences in the form of sensitization 
            workshops, social immersions, social internships and volunteering opportunities.
             It offers an intelligent algorithm to match opportunities to skills, interests, availability, 
             location and tracking of contribution.<br><br>

            In the Services and Consulting space, we provide expert support to educational institutes and 
            corporates to design and implement service learning, pro bono and employee volunteering through 
            Corporate Social Responsibility (CSR) programs.
            </p>
            </div>
          </div>
      </div>
    </section>
            <!--about-section Style-->

<!-- section offering -->
<section class="offering-sec">
  <div class="container">
      <div class="sec-title">
          <h3 class="text-center">Our <span>offerings</span></h3>
          <br>
          <br>
    <div class="row row-margin">
      <div class="col-md-6 col-sm-6 col-xs-12">
   
          <div class="card">
              <h2>Sensitization Workshops</h2>
              <br>
            <img src="assets/images/about/home.PNG"  style="width:100%;">
            <br>
            
          <p> Sensitization workshops are in-campus workshops with the objectives to present wide variety of social causes to youth, inspire them so that they feel connected to a cause and look for ways to contribute.
                  <br><br>These are packaged with introduction to the cause, information on significance of the cause and various initiatives, activities and role play to connect to the cause.
                <br><br>These workshops also present the professional opportunities with respect to the cause like career, social enterprises and significance of the cause in their professional career.
              <br><br>We currently offer sensitization workshops on Disability, Environment, Livelihood, Animal Welfare, Healthcare and Education.</p>
          
          </div>
      
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        
          <div class="card">
              <h2>Social Immersions</h2>
              <br>
            <img src="assets/images/about/sense.jpg" style="width:100%">
            <br>
            
                <p>Social Immersion Programs are day-long programs offered to Institutes in collaboration with NGOs. 
                <br><br>These programs provide youth the positive experiences in engaging with the social causes and in turn build empathy, understanding of the people at bottom of the pyramid and a broad context of sustainable development goals which broaden their perspectives. 
                <br><br>For the NGOs, these provide the wealth of knowledge, resources, connections and an opportunity for continued engagement with the youth. 
                <br><br> The innovative programs are packaged with workshops, inspirational stories and on-field activity. These programs are customized as per the institute needs.
             </p>
            
          </div>
       
      </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
     
            <div class="card">
                <h2>Social Internships</h2>
                <br>
              <img src="assets/images/about/1.jpg"  style="width:100%;">
              <br>
              
               
                <p>Social Internships provide a great way for youth to work with our partner NGOs for a specified period, develop an understanding of the challenges of the development sector, apply their academic knowledge in a practical setting to solve challenging problems.
                  <br><br>These provide work experience, develop empathy, problem solving, communication, and inter-personal skills - much needed skills for the youth and make them job-ready.
                  <br><br>Social Internships are requirements as per the curriculum of some management institutes and other disciplines. We connect the educational institutes, students to the NGOs who offer internship opportunities.</p>
            
            </div>
        
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          
            <div class="card">
                <h2>Volunteering</h2>
                <br>
              <img src="assets/images/about/2.jpg"  style="width:100%">
              <br>
              
                <p>Having got the exposure to the development sector, connected to the cause, volunteering provides opportunity to youth to get engaged with the interested cause, NGO, Social Enterprise or community and donate their time and skill.
                  <br><br>The volunteering opportunities are varied in terms of skill based, event based or just spending their time with the beneficiaries. Social Leadership Program offers a structured program for volunteering.
                  <br><br>The opportunities are matched as per the interest, skill, location, and availability. Our full-feature technology platform which is under development would match the best opportunity to you based on your interest, skill, location and availability.</p>
             
            </div>
         
        </div>
      </div>
  </div>
</div>
</section>

   <!-- section offering -->

  <!-- section start -->
   <section class="nonprofit-section" style="background: url(assets/images/background/1.jpg);">
    <div class="your-logo wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
      <div class="container con-profit">
          <div class="sec-title text-center">
          <h3> How it <span>works</span></h3>
      
          </div>
        <div class="row">
          <div class="col-md-6  vertical col-half">
            <div class="sec-title text-center text-size">
              <h3 style="font-size: 25px;">Individual</h3>
            
            </div>
            <ol class="ind-font" style=" padding-right: 15%;
            padding-left: 3%;">
            <li>Explore volunteering opportunities. ‘Tag On’ to the one you connect to.</li>
            <br>
            <li>LetsTagOn ‘Tags’ you to the respective social organization.</li>
            <br>
            <li>Social organization shares required information for you to contribute.</li>
            <br>
            <li>Congratulations! You are now ‘Tagged’. You contribute through the registered event or begin work on the skill-based volunteering opportunity.</li>
            <br>
            <li>Track applied, attended and requested opportunities in your Dashboard.</li>
            <br>
            <li>Mark your presence for an opportunity, take pride and inspire more people by accumulating volunteering hours in your Dashboard.</li>
          </ol>
          </div>
          <div class="col-md-6 col-margin col-half">
            <div class="sec-title text-center text-size">
              <h3 style="font-size: 25px;">Institute/Corporate</h3>
           
            </div>
            <ol class="ind-font">
                <li>Explore various opportunities to engage your students or employees – sensitization workshops, immersions, group volunteering and skill-based volunteering opportunities.</li>
                <br>
                <li>You can get volunteers to ‘TagOn’ to a pre-scheduled opportunity or request a customized experience that you can schedule as per your convenience.</li>
                <br>
                <li>LetsTagOn will connect with you to design and implement the program in collaboration with non-profit partner as per your convenience.</li>
                <br>
                <li>Track requested opportunities in your Dashboard.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- section end -->


 <!--volunteers-section-->
    <section class="volunteers-section" style="margin-top:4%;">
      <div class="container">
          <div class="sec-title text-center">
              <h3>Our <span>Team</span></h3>
          </div>
          <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="image-holder text-center">
                      <div class="image-box">
                          <figure>
                              <img src="assets/images/resource/founder.jpg" alt="">
                          </figure>
                      </div>
                      <h5>Chetana Koulagi</h5>
                      <p>Founder </p>
                      <div class="contact-list">
                         
                          <a href="https://www.linkedin.com/in/chetanak/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          
                      </div>
                    </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="image-holder text-center">
                      <div class="image-box">
                          <figure>
                              <img src="assets/images/resource/head.jpg" alt="">
                          </figure>
                      </div>
                      <h5>Anusha Mysore</h5>
                      <p>Head - Programs & Initiatives</p>
                      <div class="contact-list">
                          
                          <a href="https://www.linkedin.com/in/anusha-m-50267015/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          
                      </div>
                    
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="image-holder text-center">
                      <div class="image-box">
                          <figure>
                              <img src="assets/images/resource/manager.jpg" alt="">
                          </figure>
                      </div>
                      <h5>Ashwini Katgeri</h5>
                      <p>Manager - Partnerships</p>
                      <div class="contact-list">
                          
                          <a  href="https://www.linkedin.com/in/ashwini-katgeri-59633874/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          
                      </div>
                    
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--End volunteers-section-->
<br><br>
    <!--volunteers-section-->
    <section class="volunteers-section advisors">
      <div class="container">
          <div class="sec-title text-center">
              <h3>Our <span>Advisers</span></h3>
          </div>
          <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="image-holder text-center">
                      <div class="image-box">
                          <figure>
                              <img src="assets/images/resource/strategy.jpg" alt="">
                          </figure>
                      </div>
                      <h5>Shubhendu Agrawal</h5>
                      <p>Strategy & Planning</p>
                      <div class="contact-list">
                         
                          <a href="https://www.linkedin.com/in/shubhenduagrawal/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          
                      </div>
                    </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="image-holder text-center">
                      <div class="image-box">
                          <figure>
                              <img src="assets/images/resource/technology.jpg" alt="">
                          </figure>
                      </div>
                      <h5>Ravindra Karanam</h5>
                      <p>Technology & Platform Architecture</p>
                      <div class="contact-list">
                         
                          <a href="https://www.linkedin.com/in/ravindrakaranam/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                      
                      </div>
                    
                  </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="image-holder text-center">
                      <div class="image-box">
                          <figure>
                              <img src="assets/images/resource/product.jpg" alt="">
                          </figure>
                      </div>
                      <h5>Satish Grampurohit</h5>
                      <p>Platform & Product Design</p>
                      <div class="contact-list">
                         
                          <a href="https://www.linkedin.com/in/satishgrampurohit/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          
                      </div>
                    
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--End volunteers-section-->
<br>


  <!--news-section-->
<!-- <section class="news-section advisors">
  <div class="container">
    <div class="sec-title text-center">
      <h3>The 
        <span>Genesis</span>
      </h3>
 

    </div>
  </div>
  <section class="half-section">
    <div class="row">
      <div class="col-md-6 nopadding">
        <div class="image hover-effect img-container">
          <img  src="assets/images/gallery/genesis1.jpg" class="equalheight section-image">
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="split-box text-center center-block container-padding equalheight">
          <div class="heading-title padding">
              <div>
                <span class="wow fadeInUp animated animated" data-wow-delay="300ms"
                  style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                  <h2 class="darkcolor bottom20 wow fadeInUp animated animated" data-wow-delay="400ms"
                    style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">HELPING HANDS</h2>
                  <p class="info-outer service-description" data-wow-delay="500ms">
                    It’s not about me doing more, it’s about bringing more people together to do more! <br>
                    That’s the realization I had while grappling with a socially conscious mind which always questioned the social disparity and ways to make a difference.<br>                    
                    Like most of us, the beneficiaries of the technology industry boom, I started by contributing monetarily and then progressed to volunteering at a local
                    government school to teach on Saturdays. There came a time when this part time association didn’t seem fulfilling and the urge to jump into field full 
                    time got stronger by the day. Sitting there, dabbling with all I could do if I had all the time in the world, I realized that the magnitude of the
                    challenges is so huge, it cannot be me alone! </p>
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="half-section">
    <div class="row direction">
      <div class="col-md-6 nopadding">
        <div class="split-box text-center center-block container-padding equalheight">
          <div class="heading-title padding">
            <span class="wow fadeInUp animated animated" data-wow-delay="300ms"
              style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
              <h2 class="darkcolor bottom20 wow fadeInUp animated animated" data-wow-delay="400ms"
                style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">Raise fund for Healthy
                food
              </h2>
              <p class=" wow fadeInUp service-description animated animated" data-wow-delay="500ms"
                style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
                A blended online-offline platform for youth to get 'Tagged' to the social sector,
                connect to a cause, organizations and other volunteers. It aims to help them “Tag On” to improve the collective 
                efforts in bringing in the desired change in our society. <br>
                While the thought stayed around, the daily grind of a full time job and young kids kept moving the goalpost away.   <br>
                “When you really want something, the whole universe conspires to help you achieve it” goes the popular Paulo Coelho saying.
                It couldn’t have been truer in my case. One fine morning.</p>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="image hover-effect img-container">
          <img alt="" src="assets/images/gallery/genesis2.jpg" class="equalheight section-image">
        </div>
      </div>
    </div>
  </section>

  <section class="half-section">
    <div class="row">
      <div class="col-md-6 nopadding">
        <div class="image hover-effect img-container">
          <img alt="" src="assets/images/gallery/genesis3.jpg" class="equalheight section-image">
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="split-box text-center center-block container-padding equalheight">
          <div class="heading-title padding">
              <div>
                <span class="wow fadeInUp animated animated" data-wow-delay="300ms"
                  style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                  <h2 class="darkcolor bottom20 wow fadeInUp animated animated" data-wow-delay="400ms"
                    style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">HELPING KIDS</h2>
                  <p class=" wow fadeInUp service-description animated animated" data-wow-delay="500ms"
                    style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
                    This was it! It was time for me to bid farewell to 18 long years of IT career to focus on LetsTagOn full-time!  <br>
                    More people are joining hands and true to its vision, LetsTagOn is hugely supported by a set of dedicated volunteers.
                    Support by the Government of Karnataka has provided further impetus to the dream.
                    While the development of full-feature technology platform as an enabler is in progress, 
                    we all are geared up to present varied social impact experiences in the form of social immersions, 
                    internships and volunteering.<br> 
                    Come, get tagged and be part of the dream! </p>
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section> -->
<!--End news-section-->
 <!--sponsors-subscribe Style-->
 
<!--End sponsors-subscribe Style-->
  <app-footer></app-footer>
  <!-- </div> -->