

<app-dashboard-header></app-dashboard-header>
<div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Request Opportunities
        </h1>
      </section>
	<div class="container content">
      <flash-messages></flash-messages>
      
		<div class="col-md-6">
       
			
    </div>
   <div >
		<div class="col-md-6" >
				<input [(ngModel)]="searchText" placeholder="Search.." class="form-control advancedSearchTextbox">
		</div>
		
  <table  class="table table-bordered  table-striped table-responsive">
    <thead>
      <tr>
        <th class="heading" width="10%">#</th>
        <th class="heading"  width="20%">Experience Name</th>
        <th class="heading"  width="20%">Organization</th>
        <th class="heading"  width="20%">Requested Date</th>
       
        <th class="heading"  width="40%">Location</th>
        <th class="heading" width="10%">Status</th>
      </tr>
    </thead>
    <p *ngIf="nodata" class="no-data">No result found</p>
    <tbody *ngIf = "customtable">
      <tr *ngFor="let oppurtunity of  requestoppurtunities | grdFilter: {experience_name: searchText, cause_name:searchText,  address: searchText,event_date:searchText} | paginate: { itemsPerPage: 15, currentPage: p }">
        <td>{{oppurtunity.index}}</td>
        <td>{{oppurtunity.experience_name}}</td>
        <td>{{oppurtunity.organisation}}</td>
        <td>{{oppurtunity.request_date}}</td>
       
       
        <td>{{oppurtunity.address}}</td>


        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;text-align:center;">
          <div *ngIf="oppurtunity.status_flag == 0; else condition1">
            <p>Requested</p>
          </div>
          <ng-template #condition1>
            <div>
              <p>Approved</p>
            </div>
          </ng-template>
        </td> 
        
      </tr>
    </tbody>
  </table>
</div>
  <pagination-controls *ngIf = "custompagination"  (pageChange)="p = $event"></pagination-controls>
</div>
</div>