<app-dashboard-header></app-dashboard-header>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
          Change Password
        </h1>
      </section>
  <div class="row content">


    <div class="View-profile">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Change Password</h4>
        </div>
        <div class="panel-body">

          <div class="box box-info">

            <div class="box-body">
               <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="login100-form">
                <flash-messages></flash-messages>
                <div class="form-group row">
                    <label>Current Password</label>
                    <input type="password" formControlName="oldpassword" placeholder="Enter current password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" />
                    <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.oldpassword.errors.required">Current Password is required</div>
                        <div *ngIf="f.oldpassword.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group row">
                  <label>New Password</label>
                  <input type="password" formControlName="password" placeholder="Enter password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">New Password is required</div>
                      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
              <div class="form-group row">
                  <label>Confirm Password</label>
                  <input type="password" formControlName="confirmPassword" placeholder="Confirm password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" pattern="{{f.password.value}}"/>
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.confirmPassword.errors.pattern"> Password & Confirm Password does not match.</div>
                  </div>
              </div>
                <div class="container-login100-form-btn" style="float:left;">
                   
                        <button type = "submit" class="btn btn-primary btn-lg">Submit</button>
                   
                </div>
               
            </form>
              
              <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>


        </div>
      </div>
    </div>










  </div>
</div>