<!--Main Footer-->





<footer class="main-footer">
        <div class="container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row">
                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                        <div class="about-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img class="image-size" src="assets/images/LTO_1.png" alt=""></a>
                            </div>
                            <div class="widget-content">
                                <p>LetsTagOn is a blended, online-offline platform for youth to experience the joy of contributing
                                    to social development and honing their skills in the process.</p>
                            </div>
    
                        </div>
                    </div>
                    <!--Footer Column-->
                    <div class="footer-column col-md-2 col-sm-6 col-xs-12">
                        <div class="links-widget">
                            <h4>quick links</h4>
                            <ul class="links-list">
                                <li><a><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                                <li><a routerLink="/explore"><i class="fa fa-angle-right" aria-hidden="true"></i>Explore</a></li>
                                <!-- <li><a href="team.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Volunteers</a></li>
                                <li><a href="blog.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Latest News</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <!--Footer Column-->
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <div class="contact-links">
                            <h4>contact us</h4>
                            <p>Indian Institute of Management Bangalore, Bengaluru, Bengaluru Urban, Karnataka, India.</p>
                            <div class="widget-content">
                                <div class="footer-info">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <h6>12 park street, Fifth Avenue,<br>Jayanagar, Bengaluru.</h6>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <h6>[88] 657 524 332</h6>
                                </div>
                                <div class="footer-info">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <a href="#">
                                        <h6>letstagon@gmail.com</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Footer Column-->
                    <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                        <h4>Get in touch</h4>
                        <div class="container form-width">
                            <form class="form-size" [formGroup]="homeForm" (ngSubmit)="onSubmit()">
                                <label>Name</label>
                                <input required type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors}"
                                />
                                <div *ngIf="submitted && f.name.errors " class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                </div>
                                <label>Email</label>
                                <input required type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors}"
                                />
                                <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required ">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
    
                                <label class="cform">Message</label>
                                <textarea required type="text" formControlName="message" class="form-message" [ngClass]="{ 'is-invalid': submitted && f.message.errors}"></textarea>
                                <div *ngIf="submitted && f.message.errors " class="invalid-feedback">
                                    <div *ngIf="f.message.errors.required">Description is required</div>
                                </div>
                                <div class="btn-align">
                                    <button class="btn btn-primary">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright-text text-center">Copyright © LetsTagOn 2019. All Rights Reserved</div>
            </div>
        </div>
    </footer>
    <!--Main Footer-->