<div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
<app-dashboard-header></app-dashboard-header>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Your testimonial would be displayed on our portal.
    </h1>
  </section>
  <div class="row content">


    <div class="View-profile">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Add Testimonial</h4>
        </div>
        <div class="panel-body">

          <div class="box box-info">

            <div class="box-body">
              <form [formGroup]="testimonialForm" (ngSubmit)="onSubmit()" class="login100-form">
                <flash-messages></flash-messages>
                <div class="form-group row">
                  <label>Subject</label>
                  <input type="text" formControlName="subject" placeholder="Enter Subject" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                  <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                    <div *ngIf="f.subject.errors.required">Subject is required</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label>Message</label>
                  <textarea formControlName="message" placeholder="Enter Message" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                  <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                    <div *ngIf="f.message.errors.required">Message is required</div>
                  </div>
                </div>

                <div class="container-login100-form-btn" style="float:left;">

                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                </div>

              </form>

              <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>


        </div>
      </div>
    </div>
  </div>
</div>