p.line-space {
    line-height: 1.5 !important;
     font-weight: 400;
      font-size: 15px;
     color: #fff !important;
     font-family: 'Nanum Gothic', sans-serif;
}

/* Footer form starts  here */
.btn-align{
text-align: right;
}
.equalheight {
width: 100%;
}

.col-md-6 {
padding-right: 0px !important;
padding-left: 0px !important;
}

.padding {
padding: 11.5rem 55px 2rem 30px;
}
@media (min-width:1200px) {
.container11 {
    width: 93%;
}
}
.cofrm 
.label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: 400;
color: #c4ccd0;
}
input.cform[type=text], select, textarea {
width: 100%;
padding: 3px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: -3px;
margin-bottom: 7px;
resize: vertical;
font-size: 11px;
}

input[type=submit] {
background-color: #0089c8;
color: white;
padding: 4px 9px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #0475a9;
}

.form-width{
    width: 110%;
}
/* Footer form ends  here */

.rev_slider_wrapper, .rev_slider, .tp-fullwidth-forcer, .rev_slider .tp-bgimg.defaultimg {
max-height: 600px !important;

}
.captborder{

    border-bottom: 2px solid #f2f2f2;
    width: 80%;
    margin: 25px;
}

.blog .rev_slider_wrapper, .blog .rev_slider, .blog .tp-fullwidth-forcer, .blog .rev_slider .tp-bgimg.defaultimg {
max-height: 100px !important;
}
/* Social sidebar starts  here */

.headerborder{

border-bottom: 2px solid #0089c8;
}

.main-header .main-header-info {

padding-top: 13px;
}
.countersize{
font-size: 55px !important;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before{
font-size: 55px;
color: #0089c8;
}

.btn-primary:hover{
background-color: #171a1d;
}
.open>.dropdown-menu {

background-color: #0089c8;
}
.dropdown-menu>li>a {

color: #fff;
}
.welcome-section {
background-repeat: no-repeat;
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('/images/about/15.jpg');
    background-size: cover;

}

icons{
padding:22%;
}
.checked {
color: orange !important;
}
.btn-left{
left:18%;
}
.container-fluid {
padding-right: 210px !important;
padding-left: 210px !important;

}
.search-bar{
margin-top: 25%;
    width: 935px;
}
/* #myInput {
border-box: box-sizing;
background-image: url('searchicon.png');
background-position: 14px 12px;
background-repeat: no-repeat;
font-size: 16px;
padding: 14px 20px 12px 45px;
border: none;
border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
position: relative;
display: inline-block;
}

*/

.dropdown-content {
display: none;

background-color: #f6f6f6;
min-width: 230px;
overflow: auto;
border: 1px solid #ddd;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.col_fourth:hover .overlay {

opacity: 0.5;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.left-side{
padding: 0px 171px;

}
.row-margin{
margin-top:5px;
}

.sec-margin{
margin-top:-77px;
}