
<div class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
  <app-dashboard-header></app-dashboard-header>
  <div class="content-wrapper">
      <section class="content-header">
          <h1>
              Review
          </h1>
        </section>
    <div class="row content">
  
  
      <div class="View-profile">
  
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Review</h4>
          </div>
          <div class="panel-body">
  
            <div class="box box-info">
  
              <div class="box-body">
                  <div class="col-sm-6">
                      <div align="center">
                        <img alt="User Pic" src={{fileurl}}
                          id="profile-image1" class="img-circle img-responsive">
      
                        <input id="profile-image-upload" class="hidden" type="file">
                      </div>
      
                      <br>
      
                      <!-- /input-group -->
                    </div>
                    <div class="col-sm-6">
                        
      
                      <h4 style="color:#3c8dbc;">{{experiencename}}</h4>
                      
                      <span>
                        <p>{{location}},{{eventschedule}}</p>
                        <button class="btn btn-primary edit"><a routerLink="/edit-review">Edit Review</a></button>
                      </span>
                    </div>
                <div class="clearfix"></div>
                <hr style="margin:5px 0 5px 0;">
  
  
                
  
                <div class="col-sm-5 col-xs-6 tital ">Experience Name:</div>
                <div class="col-sm-7">{{experiencename}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital ">Scheduled On:</div>
                <div class="col-sm-7">{{eventschedule}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital ">Location:</div>
                <div class="col-sm-7">{{location}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital ">Message:</div>
                <div class="col-sm-7">{{message}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital ">Subject:</div>
                <div class="col-sm-7">{{subject}}</div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class="col-sm-5 col-xs-6 tital ">Rating:</div>
                <div class="col-sm-7" style="pointer-events: none;">
                  <div>
                    <ngx-input-star-rating [(ngModel)]="rating"></ngx-input-star-rating>
                  </div>
                </div>
              
              </div>
            
  
            </div>
  
  
          </div>
        </div>
      </div>
    </div>
  </div>