.navbar {
    margin-top: 12rem;
    float: center;
    overflow: hidden;
    background-color: #0089c8;
    position: absolute;
    top: 0;
    width: 81%;
  }
  
  .navbar h3 {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
  }

  .content-text p:first-child {
    margin-top:20rem;
  }

  p{
font-family: 'Nanum Gothic', sans-serif;
text-align: justify;
  }

  h4{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size:16px;
    color:#0089c8;
  }
  h5{
    font-weight: 600;
    font-size: 15px; 
  }
  ol.number {
    list-style-type: number;
  }

  ol li{
    font-size: 14px; 
    font-family: 'Nanum Gothic', sans-serif;
    text-align: justify;
    color: #666666;
    list-style: decimal !important;
    margin-left: 2%;
  }
  a {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  .fa {
 
    margin-top: 3rem;
  }

  .loading-spinner {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .5;
    color: red;
    font-size: 50px;
    background: white;
    display: block;
    z-index: 999;
    opacity: 0.9;
  }
  .loading-spinner i{
    font-size:50px;
    position:absolute;
    top:50%;
    left:50%;
  }
  @media (min-width: 320px) and (max-width: 425px){
    .navbar {
     width: 91% !important;
      }
  }