
<div class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i></div>

<app-header></app-header>
<section class="container">
<div class="navbar">
    <h3>Privacy Policy</h3>
</div>


    <div class="content-text">
        <p>
            We at LetsTagOn are committed to respecting your privacy, while providing you with a platform to
network, collaborate, and share information. By accessing or using the Service, you (&quot;User&quot;) signify
that you have read, understand, and agree to be bound by (1) the Terms and Conditions and (2) this
Privacy Policy, whether or not you are a registered member of LetsTagOn.
        </p>
        <br>
        <p>
            This document explains how LetsTagOn collects and uses information when you use the Service and
the safeguards we use to protect that information. If you do not accept either the Terms and
Conditions or this Privacy Policy, you should not access the website and/or become a LetsTagOn
Member.
        </p>  
    </div>
<br>
<br>
<h4>Information Collected by LetsTagOn</h4>
<h5>You agree not to use the Service or LetsTagOn website to:</h5>
<br>

<p>
    <b>Information that you enter while using the Service: </b>When you provide it, LetsTagOn may collect
the following information about you: Name including first and last name, mobile phone number,
institutional affiliation, contact details, demographic profile and information about the pages on the site
you visit/access, the links you click on the site, the number of times you access the page and any
such browsing information, details of your profile stored on LetsTagOn.
</p>
<br>
<p>
    <b>Information about how you use the Service: </b>When you use the Service, we may collect basic
    information such as your IP address, the browser you are using to access the Service, and the
    operating system running on your computer. Knowing this information allows us to improve the site
    and make it better fit the needs of LetsTagOn Users.
</p>
<br>
<p>
    <b>Cookies: </b>LetsTagOn also uses &quot;cookies&quot;. Cookies are small amounts of data that are stored on
    your computer and relay your usage patterns to the Service. Cookies allow us to personalize the
    Service for you. You can block cookies through your web browser if you do not want LetsTagOn to
    use cookies.
</p>
<br>
<br>
<h4>LetsTagOn Services</h4>

<br>

<p>
    <b>Registration: </b>To register, you are required to provide some Profile Data. If you do not wish to
    provide LetsTagOn with this Profile Data, you should not register.<br>
    You have choices about the information on your profile, such as your education, work experience,
    skills, volunteering interests, photo, city or area and endorsements. Profile information helps you to
    get more from our Services. It’s your choice whether to include sensitive information on your
    profile. Please do not post or add personal data to your profile that you would not want to be publicly
    available.
</p>
<br>
<p>
    <b>Account Activation: </b>To verify your identity, LetsTagOn will cross-reference the Profile Data that
    you provided at registration with publicly available databases.
</p>
<br>
<p>
    <b>Posts, Likes, Follows, Comments, and Messages: </b>Our Services allow viewing and sharing
    information including through posts, follows, likes and comments. Others on LetsTagOn would be
    able to see your posts, likes, follows, comments and messages.
</p>
<br>
<br>
<h4>While you are a LetsTagOn User you agree to the following:</h4>

<br>
    <ol>
        <li>The User Data you provide will be accurate, truthful, complete, and current.</li><br>
        <li>You will maintain the security of your password.</li><br>
        <li>use automated scripts to collect information from or otherwise interact with the Service or the
            LetsTagOn website;</li><br>
        <li>You will update the Registration Information and User Data you provide to LetsTagOn as it
            changes.</li><br>
        <li>You are fully responsible for all use and content of your account.</li><br>
       </ol>
       <br>
<br>
<h4>How LetsTagOn Uses Your User Data?</h4>

<br>

<p>
    <b>To Contact You: </b>LetsTagOn uses your Data to contact you regarding: your account, changes to
    the website.
</p>
<br>
<p>
    <b>Market Analysis: </b>At times, LetsTagOn will collect, retain, and use your Profile Data for market
    analysis. LetsTagOn may also compile and distribute reports to third parties using your Data;
    however, individuals will never be identified in these reports.
</p>
<br>
<p>
    <b>Back Up: </b>LetsTagOn may keep a backup copy of all User Data for a reasonable period of time to
    allow the website and its Users to revert back to a prior version of that Data.
</p>
<br>
<br>
<h4>Access to Your Profile and Professional Data</h4>
<br>
<p>
    LetsTagOn does not sell, trade, rent, or otherwise disclose your data, other than as stated in this
Privacy Policy and in the Terms and Conditions, unless you first provide us with written or
electronically transmitted permission to do so. By default, certain aspects of your Data are viewable
on LetsTagOn only by you, by Users to whom you designate access, or by all LetsTagOn Users.<br><br>
You should understand that no security measures are perfect or inviolable, and while LetsTagOn
makes reasonable effort to preserve the integrity of the privacy structure in the Service, you post User
Data at your own risk. LetsTagOn is not responsible for circumvention of any of our privacy settings.
LetsTagOn cannot guarantee that the Data you submit through the Service will not be viewed by
unauthorized persons. In the event of a security breach we will notify the affected Users and repair
the breach in a reasonable amount of time.<br><br>
Incidental Access: LetsTagOn works with other companies to provide information technology
services to its Users. These companies may have access to LetsTagOn&#39;s databases, but only for the
purposes of providing service to LetsTagOn. For example, a third party may obtain access to your
User Data in an effort to update database software, or manage data. These companies will operate
under consumer confidentiality agreements with LetsTagOn.
</p> 

<br>
<br>
<h4>Invitations</h4>
<br>
<p>
    If you choose to use our invitation service, we will ask you for information needed to send the
invitation, such as a colleague&#39;s email address. LetsTagOn stores this information to send this
invitation.
</p> 
<br>
<br>
<h4>Changes to Business</h4>
<br>
<p>
    LetsTagOn may transfer, sell, or assign information concerning use of the Service, including without
limitation, Users’ Profile Data and Professional Data, in the event of a change in business practices
such as a merger, acquisition by another company, consolidation, liquidation, or reorganization.
</p> 
<br>
<br>
<h4>Changes to Policies</h4>
<br>
<p>
    LetsTagOn reserves the right to revise or update this policy at any time. If we do so, we will post a
new Privacy Policy on the Service and/or notify you. We encourage Users to check back frequently
for changes. This Privacy Policy and the Terms and Conditions apply to the LetsTagOn alpha version
and to all subsequent versions.<br>
You may contact us at any time with questions or concerns regarding the Terms and Conditions or
the Privacy Policy through the ‘Contact Us’ page on LetsTagOn.
</p> 


</section>
<app-footer></app-footer>

