.table{
    font-size:14px;
}
.heading{
    padding:15px !important;
    background-color: #3c8dbc !important;
    color: white;
    font-weight: 500;
}
thead{
    background: #3c8dbc;
    color: white;
    font-size:16px;
}
.advancedSearchTextbox{
    float: right;
    border-bottom: 2px solid #3c8dbc;
    padding: 15px;
    width: 35%;
    margin-bottom: 2%;
    margin-top: 1%;
}
.red{
    color:red;
}
.green{
    color:green;
    margin-right:10px;
}
.sub-heading{
    font-size: 25px;
    color: #262323;
}
.loading-spinner {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .5;
    color: red;
    font-size: 50px;
    background: white;
    display: block;
    z-index: 999;
    opacity: 0.9;
  }
  .loading-spinner i{
    font-size:50px;
    position:absolute;
    top:50%;
    left:50%;
  }
  .content-header{
    background: #fff;
    margin: -5px -30px 30px;
    z-index: 1030;
    position: fixed;
    width:100% !important;
    padding: 15px;
    box-shadow: 1px 0 5px rgba(0,0,0,.1);
    z-index: 99;
}
.content{
    background: white;
    margin-top: 10%;
    height: auto !important;
    max-width: 100%;
}
h1 {
    margin-left: 2%;
    font-size: 24px;
    color: #1e88e5!important;
    font-weight: 100;
   
    
}
.no-data{
    margin-top: 3.5%;
    font-size:25px;
    text-align:center;
}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    color: gray;
    font-size: 14px;
    border-top: 1px solid #ddd;
}