

<app-dashboard-header></app-dashboard-header>
<div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Attended Opportunities
        </h1>
      </section>
    
	<div class="container content">
      
		<div class="col-md-6 ">
     
			
    </div>
    <div >
		<div class="col-md-6">
				<input [(ngModel)]="searchText" placeholder="Search.." class="form-control advancedSearchTextbox">
		</div>
		
  <table  class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th class="heading" width="10%">#</th>
        <th class="heading"  width="20%">Name</th>
        <th class="heading"  width="20%">Cause</th>
        <th class="heading"  width="20%">Date</th>
        <th class="heading"  width="30%">Address</th>
        <th class="heading" width="15%">Status</th>
      </tr>
    </thead>
    <p *ngIf="nodata" class="no-data">No result found</p>
    <tbody *ngIf = "customtable">
      <tr *ngFor="let oppurtunity of attendedoppurtunities | grdFilter: {experience_name: searchText, cause_name:searchText,  address: searchText,event_date:searchText}|paginate: { itemsPerPage: 15, currentPage: q }">
        <td>{{oppurtunity.index}}</td>
        <td>{{oppurtunity.experience_name}}</td>
        <td>{{oppurtunity.cause_name}}</td>
        <th style="font-weight: 400;">{{oppurtunity.event_date}}</th>
        <td>{{oppurtunity.address}}, {{oppurtunity.city_name}}</td>
        <td class="jsgrid-cell jsgrid-control-field jsgrid-align-center" style="width: 50px;text-align:center;">
				<button   class="fa fa-thumbs-up green" ><br>Attended</button>
				
        </td>
      </tr>
     </tbody>
  </table>
  </div>
  <pagination-controls *ngIf = "custompagination"  (pageChange)="q = $event"></pagination-controls>
</div>
</div>