<div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
<app-dashboard-header></app-dashboard-header>
<div class="content-wrapper">
  <div class="row">
    <div class="View-profile">
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Edit review</h4>
        </div>
        <flash-messages></flash-messages>
        <div class="panel-body">
          <div class="box box-info">
            <div class="box-body">
               <form [formGroup]="addReview" (ngSubmit)="onSubmit()" class="login100-form">
                <flash-messages></flash-messages>
                <div class="form-group row">
                    <label>Current Password</label>
                    <input type="text" formControlName="subject" placeholder="Enter Subject" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" />
                    <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                        <div *ngIf="f.subject.errors.required">Subject is Required</div>
                    </div>
                </div>
                <div class="form-group row">
                  <label>Message</label>
                  <textarea formControlName="message" placeholder="Enter Message" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                  <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                      <div *ngIf="f.message.errors.required">Message is Required</div>
                  </div>
              </div>
              <div class="form-group row">
                  <label>Rating   </label>
                  <ngx-input-star-rating formControlName="rating"></ngx-input-star-rating>
                  
              </div>
                <div class="container-login100-form-btn" style="float:left;">
                   
                        <button type = "submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
               
            </form>
              
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>