
        .login-block{
            background: #DE6262;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            float:left;
            width:100%;
            padding : 50px 0;
        }
        .banner-sec{background-color: #0089c8; background-size:cover; min-height:500px; border-radius: 25px 0 0 25px; padding:0;}
        .container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
        .carousel-inner{border-radius:0 10px 10px 0;}
        .carousel-caption{text-align:left; left:5%;}
        .login-sec{padding: 50px 0px; position:relative;}
        .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
        .login-sec .copy-text i{color:#FEB58A;}
        .login-sec .copy-text a{color:#E36262;}
        .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
        .login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
        .btn-login{background: #007bff; color:#fff; font-weight:600;padding: 7px 25px 7px 25px;border-radius: 5px;font-size: 1.3rem; font-family: 'Nanum Gothic', sans-serif;}
        .banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
        .banner-text h2{color:#fff; font-weight:600;}
        .banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
        .banner-text p{color:#fff;}
		
		.row{
			margin:0;
		}
		.form-control{
			width: 70%;
			background-color: #f5f8f9;
			border: 1px solid rgba(169, 164, 164, 0.15);
			border-radius: .5rem;
			font-family: 'Nanum Gothic', sans-serif;
		}
		label{
			width: 25%;
			font-size: 14px;
			font-weight: bold;
            font-family: 'Nanum Gothic', sans-serif;
						color:#333;		
			margin-top: 1.5%;
					}
		.form-group{
			margin:25px;
			
		}
		.login-form{
			margin-left:4%;
		}
		.container-login100{
			padding:65px 100px 65px 100px;
		}
		/* .logo{
			padding: 0 0 8px 85px;
		} */
		.register-btn{
		float: right;
		}
		.card{
			width:100%;
			border-radius: 25px;
			box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
		}
		.card-body{
			padding:0;
			border-radius: 25px;
		}
		.btn.focus, .btn:focus, .btn:hover{
			color: #fff;
		}
		.text{
			padding: 55px;
			color: #fff;
			text-align: center;
		}
		p {
			font-family: 'Nanum Gothic', sans-serif;
			font-size: 14px;
			color: #fff;
		}
		h2,b{
			font-family: 'Raleway', sans-serif;
			margin-bottom:22px;
		}
		.home{
			padding: 25px 0 0 45px;
			color:#fff;
		}
		.fa-arrow-left{
			padding: 0 10px 0 0px;
			color:#fff;
		}
		a{
			color:#fff;
        }
        a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
            color:white !important;
		}
		.h2, h2 {
			font-size: 1rem;
		}
		.btn-primary{
		
			font-weight: 300 !important;
			background-color: #007bff;
			font-size: 1.4rem !important;

		}
		input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.loading-spinner {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: .5;
	color: red;
	font-size: 50px;
  }
  .loading-spinner i{
	font-size:50px;
  }

 
  .form-control {
    font-size: 1.3rem;
    /* padding: 1.6rem 0.75rem; */
  }
 .item img{
	/* width: 250px;
    height: 250px; */
		display: block;
		margin: auto;
		margin-top: -5%;
 }
 .h2, h2 {
	font-size: 2rem;
	}
	.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 15px !important;
    color: #dc3545;
}

/* ----------------- */

@media (min-width:320px) and (max-width:768px){

	.container-login100{
		padding:20px !important;
	}
	.logo {
    padding: 0px !important;
}

.banner-sec{

	border-radius: 25px 25px 25px 25px;
}
.item img  {
	width: 230px !important;
	height: 230px !important;

}

.form-control {
	width: 65%;
}
.btn-primary {
	padding: 6px 20px 7px 20px !important;

	border-radius: 5px;
}
}
@media only screen and (max-width:375px) {

	.logo {

		margin-left: -16%;
	}
	.form-group {

		margin-left: auto;
	}
	



}

@media only screen and (max-width:320px) {
	.img-margin{
		margin-left:-5%;
	}
}

@media (min-width:425px) and (max-width:767px){
	.logo{
		margin-left:25%
	}
}
/* ----------------- */

.form-control {

	height: calc(3rem + 0.75rem + 2px) !important;
}

.txt1{
	color:#fff;
}

