<div class="loading-spinner"><i class="fa fa-spinner fa-spin"></i></div>
<div class="limiter">
    <div class="container-login100">
        <div class="card">
            <div class="card-body">
                <section>
                    <div class="row">
                        <div class="col-md-5 banner-sec">
                            <div class="home">
                                <a routerLink="/">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i>Back to Home Screen</a>
                            </div>
                            <div class="text">
                                <h4><b>REGISTER NOW</b></h4><br/>
                                <p> Welcome to LetsTagOn</p>
                            </div>
                            <div class="item active text-center">
                                <img src="assets/images/22.png" draggable="false"><br /><br /><br />
                                <span class="txt1">
                                    Already a member?
                                </span> &nbsp;
                                <a class="txt2" routerLink='/signin'>
                                    Sign In
                                </a>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <form class="login-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                                <div class=" form-group logo text-center">
                                    <img class="img-margin" src="assets/images/logo.png" alt="">
                                </div>
                                <flash-messages></flash-messages>
                                <div class="form-group row">
                                    <label for="exampleInputEmail1">Name</label>
                                    <input required type="text" formControlName="first_name" placeholder="Enter Name"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.first_name.errors}" />
                                    <div *ngIf="submitted && f.first_name.errors " class="invalid-feedback">
                                        <div *ngIf="f.first_name.errors.required">*</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="exampleInputPassword1">Email</label>
                                    <input required type="text" formControlName="email" placeholder="Enter Email"
                                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors}" />
                                    <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required ">*</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="exampleInputPassword1">Contact Number</label>
                                    <input required type="text" formControlName="phone" minlength="10" maxlength="10"
                                        placeholder="Enter Number" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.phone.errors}" />
                                    <div *ngIf="submitted && f.phone.errors " class="invalid-feedback">
                                        <div *ngIf="f.phone.errors.required">*</div>
                                        <div *ngIf="f.phone.errors.pattern">Contact Number is not proper</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label>Password</label>
                                    <input type="password" formControlName="password" maxlength="15"
                                        placeholder="Enter Password" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">*</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                        </div>
                                        <div *ngIf="f.password.errors.pattern" style="color:red;">Please enter valid
                                            password(use uppercase,lowercase,a number and special character).</div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label>Confirm Password</label>
                                    <input type="password" formControlName="confirmPassword"
                                        placeholder="Confirm Password" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                                        pattern="{{f.password.value}}" />
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">*</div>
                                        <div *ngIf="f.confirmPassword.errors.pattern"> Password & Confirm Password do
                                            not match.</div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <button type="reset" class="btn btn-primary btn-style-three pull-right"
                                        style="margin:1% 10% 1% 1%">Reset</button>
                                    <button class="btn btn-primary btn-style-three pull-right"
                                        style="margin:1%">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>