<div class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i></div>
<div *ngIf="isLoaded">
    <app-header></app-header>
    
    <!--Page Title-->
    <section class="page-title" style="background: url('assets/images/opp.jpg') no-repeat;">
        <div class="container">
            <div class="title-text clearfix">
                <h1>Opportunity details</h1>
                <ul class="title-menu">
                    <li><a routerLink="/">home</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                    <li>{{experience_name}}</li>
                </ul>
            </div>

        </div>
    </section>
    <!--End Page Title-->

    <!--couses-section-->
    <section class="couses-section style-two">
           
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="left-side">
                        <div class="image-holder" >
                            <div class="image-box">
                                <figure>
                                    <a><img src={{image_path}} alt="" style="max-height:400px;width:100%;"></a>
                                    <ul class='social'>

                                        <li *ngIf="event_type == 'Individual'; else condition1"><a>
                                                <i class="fas fa-user"></i>
                                                <!-- <i class="fas fa-user"></i> -->
                                                <span class="span-icon">{{event_type}}</span>
                                            </a>
                                        </li>
                                        <ng-template #condition1>
                                            <li><a>
        
                                                    <i class="fas fa-users"></i>
                                                    <!-- <i class="fas fa-user"></i> -->
                                                    <span class="span-icon">{{event_type}}</span>
                                                </a>
                                            </li>
                                        </ng-template>
                                        <!-- <i class="fas fa-user"></i> -->
                                        <li *ngIf="event_schedule == 'Custom-Schedule'; else condition2"><a>
                                                <i class="fas fa-calendar"></i>
                                                <!-- <i class="fas fa-user"></i> -->
                                                <span class="span-icon">{{event_schedule}}</span>
                                            </a>
                                        </li>
                                        <ng-template #condition2>
                                            <li><a>
                                                    <i class="fas fa-clock"></i>
                                                    <!-- <i class="fas fa-user"></i> -->
                                                    <span class="span-icon">{{event_schedule}}</span>
                                                </a>
                                            </li>
                                        </ng-template>
                                         <li *ngIf="participation_type == 'Workshop'; else condition3"><a>
                                                <b class="v-color">W</b>
                                                <!-- <i class="fas fa-user"></i> -->
                                                <span class="span-icon">{{participation_type}}</span>
                                            </a>
                                        </li>
                                        <ng-template #condition3>
                                            <li><a>
                                                    <b class="v-color">V</b>
                                                    <!-- <i class="fas fa-user"></i> -->
                                                    <span class="span-icon">{{participation_type}}</span>
                                                </a>
                                            </li>
                                        </ng-template>
        
                                    </ul>
                                </figure>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="right-side">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="heading" colspan="2">{{experience_name}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Organised By</td>
                                    <td>{{ngo_name}}</td>
                                </tr>
                                <tr>
                                    <td>Experience Name</td>
                                    <td>{{experience_name}}</td>
                                </tr>
                                <tr>
                                    <td>Cause Name</td>
                                    <td>{{cause_name}}</td>
                                </tr>
                                <tr>
                                    <td>Category Name</td>
                                    <td>{{category_name}}</td>
                                </tr>
                               
                            </tbody>
                            
                           
                        </table>
                        
                        <div>
                           
                        
                        </div>
                        <a class="btn register-btn" *ngIf="Pre_Schedule">
                                <div class="background">
                                    <button *ngIf="islogin" type="button" (click)="tagnowButton()" class="tagnowbtn">Tag
                                        Now</button>
                                <button *ngIf="islogout"  type="button" (click)="sendtologin()" class="tagnowbtn">Tag
                                                On</button>
                                </div>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal" id="Locationmodal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Pre-Schedule</h4>
              <button type="button" class="close" data-dismiss="modal" (click)='modelClose()'>X</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p *ngIf="contactmessage" style="background:green;
                padding: 5px;
                font-size: 15px;
                color: #ffffff;
                width: 100%;
                height: auto !important;">{{message}}<span (click)="close();" style="color: #fff;float:right;cursor:pointer;">X</span></p>
              <form [formGroup]="preForm" id="message" (ngSubmit)="tagnow(events)" class="formlabel">
              <div class="col-md-12" *ngFor="let area of locations">
                 
                <div class="form-group has-success">
                  <span>
                    <input type="radio" [value]="area.id" formControlName="location"  /><label>  {{area.location}} ({{area.date_scheduled}})</label></span>
                  
                </div>
                <br>
              </div>
              <br>
              <div *ngIf="submitted" style="color:red;margin-top:2%;">Please select the location</div>
              <div class="form-group" style="margin-top:5%;">
                <button type="submit" class="btn btn-primary btn-lg" 
                  >TagNow</button>
              </div>
            </form>
            </div>
            <!-- Modal footer -->
          </div>
        </div>
      </div>
    <!--end of cause section-->

    <section class="couses-section style-one description">
        <div class="container">
            <div class="row">
                <div class="col-md-12 nav-box">

                        <ul class="nav nav-tabs">
                                <li (click)="firsttab();" class="active"><a data-toggle="tab">Experience Details</a></li>
                                <li (click)="secondtab();"><a data-toggle="tab" >NGO Details</a></li>
                              </ul>

                    <div class="tab-content">

                        <div id="menu1" class="tab-pane fade in active" >
                            <p>{{description_details}}</p>
                        </div>

                        <div id="menu2" class="tab-pane fade">
                            <p>{{ngo_description}}</p>
                        </div>

                    </div>
                </div>
            </div>
           

        </div>
       
    </section>
<!-- section custom schedule -->
<div *ngIf="Custom_Schedule && islogout" class="container">
    <i class="fa fa-angle-right" aria-hidden="true">  <a routerLink="/signin"> Please login to request for organizing this experience</a></i>
</div>
    <section class="container" id="Modalschedule" *ngIf="Custom_Schedule && islogin" style="padding:0px">

        <div class="card">
 <flash-messages></flash-messages>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="formlabel container">
            <!-- <h4>Please Login and fill in the details to organize this experience.</h4> -->
            <div class="modal-header">
                    <h4 class="modal-title">Please fill in the below details to organize this experience.</h4>
                </div>
            <br>
            <div class="container-opp">
            <div class="row opp-row">
                <div class="col-md-6 form-group">
                <label>Name of Organization</label>
                <input type="text" formControlName="organization" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.organization.errors }" />
                <div *ngIf="submitted && f.organization.errors" class="invalid-feedback">
                    <div *ngIf="f.organization.errors.required">Name of Organization field is required</div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                    <label>Date</label>
                    <input type="date" formControlName="date" class="form-control"   [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div *ngIf="f.date.errors.required">Date is required</div>
                    </div>
            </div>
           
          
        </div>
        <div class="row">
                
                <div class="col-md-6 form-group">
                        <label>No of Volunteers</label>
                        <input type="number" formControlName="volunteers" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.volunteers.errors }" />
                        <div *ngIf="submitted && f.volunteers.errors" class="invalid-feedback">
                            <div *ngIf="f.volunteers.errors.required">No of Volunteers field is required</div>
                        </div>
                    </div>
                <div class="col-md-6 form-group">
                        <label>Location</label>
                        <input type="text" formControlName="location" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                            <div *ngIf="f.location.errors.required">Location field is required</div>
                        </div>
                    </div>  
                    
         </div>  
         <div class="row">
                <div class="col-md-12 form-group">
                        <label>Description</label>
                        <textarea rows="3" type="textarea" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description field is required</div>
                        </div>
                    </div>
         </div>
       
                                                       
            <div class="form-group text-align">
                <button class="btn btn-primary" *ngIf="islogout" type="button" (click)="sendtologin()">Submit Request</button>
                <button class="btn btn-primary" *ngIf="islogin">Submit Request</button>
            </div>
        </div>
        </form>
        </div>
    </section>
    <!-- section custom schedule -->

                                <!-- <div class="modal" id="Modalschedule">
                                    <div class="modal-dialog">
                                        <div class="modal-content" >
                                           
                                            <div class="modal-header">
                                                <h4 class="modal-title">Custom-Schedule</h4>
                                                <button type="button" class="close" data-dismiss="modal" (click)='modelDissmiss()'>X</button>
                                            </div>
                                          
                                            <div class="modal-body">
                                                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="formlabel">

                                                    <div class="form-group">
                                                        <label>Name of Organization</label>
                                                        <input type="text" formControlName="organization" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.organization.errors }" />
                                                        <div *ngIf="submitted && f.organization.errors" class="invalid-feedback">
                                                            <div *ngIf="f.organization.errors.required">Name of Organization field is required</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                            <label>Date</label>
                                                            <input type="text" formControlName="date" class="form-control"   [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                                                            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                                                <div *ngIf="f.date.errors.required">Date is required</div>
                                                            </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>No of Volunteers</label>
                                                        <input type="text" formControlName="volunteers" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.volunteers.errors }" />
                                                        <div *ngIf="submitted && f.volunteers.errors" class="invalid-feedback">
                                                            <div *ngIf="f.volunteers.errors.required">No of Volunteers field is required</div>
                                                        </div>
                                                    </div>
                                                 
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                                                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                                            <div *ngIf="f.description.errors.required">Description field is required</div>
                                                        </div>
                                                    </div>                                                    
                                                    <div class="form-group">
                                                        <button class="btn btn-primary">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                          
                                           
                                        </div>
                                    </div>
                                </div> -->
                      
    <br>
    <br>
    <section class="container">
       <div class="col-md-6" *ngFor="let review of reviewdetails |paginate: { itemsPerPage: 6, currentPage: P }">
            <div class="review-block" >
                    <div class="row">
                        <div class="col-sm-3">
                            <img src={{review.image_path}} class="img-rounded">
                            <div class="review-block-name">{{review.username}}</div>
                            <div class="review-block-date">{{review.published_date}}</div>
                        </div>
                        <div class="col-sm-9">
                            <div class="review-block-rate">
                                    <ngx-stars class="one" [readonly]="true" [maxStars]="5" [initialStars]=review.rating></ngx-stars>
                            </div>
                            <div class="review-block-title">{{review.subject}}</div>
                            <div class="review-block-description">{{review.message}}</div>
                        </div>
                    </div>
                   
                    
                </div>
       </div>
       
            
    </section>
    <pagination-controls *ngIf = "custompagination"  class="custompagination" (pageChange)="P = $event"></pagination-controls>
      <!--
<section class="couses-section style-three description">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="col-sm-12">
                    <h2>Rate this Experience</h2>
                </div>
              <form method="post" data-form-title="CONTACT US">
                    <div class="form-group">
                        <label>Your Rating :</label>
               
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                       
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" required="" placeholder="Save Trees"
                            data-form-field="Name">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" placeholder="Your Experience" rows="7"
                            data-form-field="Message"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="tagnowbtn" data-toggle="modal"
                            data-target="#myModal2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>-->


    <br><br>
    <br>
    <br>
    <br>
    <app-footer></app-footer>
</div>