.content-header{
    background: #fff;
    margin: -5px -30px 30px;
    z-index: 1030;
    position: fixed;
    width: 100% !important;
    padding: 15px;
    box-shadow: 1px 0 5px rgba(0,0,0,.1);
    z-index: 99;
}
.content{
    background: transparent;
    margin-top: 10%;
    height: auto !important;
}

h1 {
    margin-left: 2%;
    font-size: 24px;
    color: #1e88e5!important;
    font-weight: 100;
   
    
}
.content-wrapper{
    margin-top: 5%;
    background-color:#ecf0f5 !important;
    font-size:14px;
    min-height:auto !important;
    }