<app-dashboard-header></app-dashboard-header>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
        Dashboard
      </h1>
    </section>
  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua">
            <i class="fa fa-bar-chart"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Total Opportunities</span>
            <span class="info-box-number">{{totalopportunity}}
              <small></small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red">
            <i class="fa fa-clock-o"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Volunteering Hours</span>
            <span class="info-box-number">{{event_hours}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <!-- <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green">
            <i class="fa fa-clock-o"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Skilled Hours</span>
            <span class="info-box-number">0</span>
          </div>
        </div>
      </div> -->

      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow">
            <i class="fa fa-bar-chart"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Tagged Opportunities</span>
            <span class="info-box-number">{{appliedopportunity}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <!-- /.col -->
      <br><br>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow">
            <i class="fa fa-bar-chart"></i>
          </span>

          <div class="info-box-content">
            <span class="info-box-text">Attended Opportunities</span>
            <span class="info-box-number">{{attendedopportunity}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
    
 