input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image1 {
    cursor: pointer;
  
     width: 100px;
    height: 100px;
	border:2px solid #3c8dbc ;}
    .tital
    { 
        font-size:16px; font-weight:500;
    }

     .bot-border{ 
         border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0;
        }	
     .View-profile{
         margin:4% auto;
         width:900px;
     }
     .col-sm-7{
         font-size:14px !important;
     }
     .panel-default>.panel-heading {
        color: white;
        background-color: #3c8dbc;
        border-color: #3c8dbc;
    }
    .box.box-info {
        border-top-color: white;
    }
    .panel-default {
        border-color: #3c8dbc;
    }
    .edit{
        float: right;
        color:white !important;
        cursor:pointer;
    }
    a{
        color:white;
        cursor:pointer;
        text-decoration: none;
    }
    .loading-spinner {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .5;
        color: red;
        font-size: 50px;
        background: white;
        display: block;
        z-index: 999;
        opacity: 0.9;
      }
      .loading-spinner i{
        font-size:50px;
        position:absolute;
        top:50%;
        left:50%;
      }
      .content-header{
        background: #fff;
        margin: -5px -30px 30px;
        z-index: 1030;
        position: fixed;
        width: 100% !important;
        padding: 15px;
        box-shadow: 1px 0 5px rgba(0,0,0,.1);
        z-index: 99;
    }
    .content{
        background: transparent;
        margin-top: 4%;
        height:auto !important;
    }
    .content-wrapper{
        background:#ecf0f5;
    }
    h1 {
        margin-left: 2%;
        font-size: 24px;
        color: #1e88e5!important;
        font-weight: 100;
       
        
    }
    .page-wrapper{
        overflow:hidden !important;
    }
    
