<!--Main Slider-->
<app-header></app-header>
<section class="discrool">
<section class="main-slider">
	<div id="myCarousel" class="carousel slide " data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<form [formGroup]="searchForm" (ngSubmit)="Search()">
				<div class="container search-bar" id="searchbar">
					<div class="main-search-input fl-wrap">
						<div class="main-search-input-item">
							<input type="text" formControlName="events" placeholder="What are you looking for?">
						</div>
						<div class="main-search-input-item autocomplete ">
							<select formControlName="city" class="search-height">
								<option value="" disabled>Select City</option>
								<option *ngFor="let city of citylist" [ngValue]="city.id">
									{{ city.city_name }}
								</option>
							</select>
						</div>


						<div class="main-search-input-item autocomplete" onclick="myFunction1()">
							<select formControlName="category" class="search-height">
								<option value="">Select Category</option>
								<option value="Skill Based Volunteering">Skill Based Volunteering</option>
								<option value="Sensitization workshops">Sensitization workshops</option>
								<option value="Group Volunteering Activities">Group Volunteering Activities</option>
								<option value="Individual Volunteering Activities">Individual Volunteering Activities</option>
							</select>

						</div>
						<button type="submit" class="main-search-button">Search</button>
					</div>
				</div>
			</form>
			<div class="item active">
				<div class="container-content">
					<h2>Your search for a</h2>
					<h1>volunteering partner ends here</h1>
					<p>We provide wide range of curated social impact experiences across locations and causes</p>
				</div>
				<img src="assets/images/main-slider/11.jpg" style="width:100%;">
			</div>

			<div class="item">
				<div class="container-content">
					<h2>Raise Your</h2>
					<h1>Helping Hand</h1>
					<p>We make it easy for you with our trusted social organisation partners and hassle-free program implementations</p>
				</div>
				<img src="assets/images/main-slider/22.png" style="width:100%;">
			</div>

			<div class="item">
				<div class="container-content">
					<h2>Make a difference with your</h2>
					<h1>Professional Skills</h1>
					<p>We offer expert support to design volunteering, probono, service learning</p>
				</div>
				<img src="assets/images/main-slider/3.png" style="width:100%;">
			</div>
		</div>
	</div>
</section>
<!--End Main Slider-->


<!--category Section-->

<section class="section-category">
	<div class="container-category">
		<div class="sec-title text-center">
			<br>
			<br>
			<h3 class="catagory-margin">Volunteering
				<span>Experiences</span>
			</h3>
			<br>
			<br>

		</div>
		<div class="category ">
			<div class="gallery__item gallery__item--1">
					<a>
							<img src="assets/images/gallery/ind.jpg" alt="Gallery image 4" class="gallery__img"
								(click)="category_section('Individual Volunteering Activities')">
							<div class="bottom-left">
								<h2 (click)="category_section('Individual Volunteering Activities')"><span class="span-4">Individual Volunteering Activities</span></h2>
							</div>
						</a>
			</div>
			<div class="gallery__item gallery__item--2">
				<a>
					<img src="assets/images/gallery/skill.jpg" alt="Gallery image 2" class="gallery__img"
						(click)="category_section('Skill Based Volunteering')">
					<div class="bottom-left">
						<h2 (click)="category_section('Skill Based Volunteering')"><span>Skill Based Volunteering</span></h2>
					</div>
				</a>

			</div>
			<div class="gallery__item gallery__item--3">
				<a>
					<img src="assets/images/gallery/Group.jpg" alt="Gallery image 3" class="gallery__img"
						(click)="category_section('Group Volunteering Activities')">
					<div class="bottom-left">
						<h2 (click)="category_section('Group Volunteering Activities')"><span class="span-3">Group Volunteering Activities</span></h2>
					</div>
				</a>
			</div>
			<div class="gallery__item gallery__item--4">
					<a>
							<img src="assets/images/gallery/sense.jpg" alt="Gallery image 1" class="gallery__img"
								(click)="category_section('Sensitization workshops')">
							<div class="bottom-left">
								<h2 (click)="category_section('Sensitization workshops')"><span>Sensitization Workshops</span></h2>
							</div>
						</a>
			
			</div>

		</div>
	</div>

</section>

<!--End of category Section-->


<!--curated-section-->

<section class="couses-section">
	<div class="container-curated">
		<div class="sec-title text-center sec-title-padding cpatop">
			<br>
			<br>
			<h3>Curated social 
				<span>impact Experiencestom</span>
			</h3>
		</div>
		<div class="row">
			<div class="image-column col-md-4 col-sm-6 col-xs-12" *ngFor="let experience of experiencelist">
				<div class="image-holder">
					<div class="image-box">
						<figure class="linkclick">
							<img src="{{experience.image_path}}" style="height:222px;" alt="">

							<ul class='social'>
								<li *ngIf="experience.event_type == 'Individual'; else condition1"><a>
										<i class="fas fa-user"></i>
										<!-- <i class="fas fa-user"></i> -->
										<span class="span-icon">{{experience.event_type}}</span>
									</a>
								</li>
								<ng-template #condition1>
									<li><a>

											<i class="fas fa-users"></i>
											<!-- <i class="fas fa-user"></i> -->
											<span class="span-icon">{{experience.event_type}}</span>
										</a>
									</li>
								</ng-template>
								<!-- <i class="fas fa-user"></i> -->
								<li *ngIf="experience.schedule_type == 'Custom-Schedule'; else condition2"><a>
										<i class="fas fa-calendar"></i>
										<!-- <i class="fas fa-user"></i> -->
										<span class="span-icon">{{experience.schedule_type}}</span>
									</a>
								</li>
								<ng-template #condition2>
									<li><a>
											<i class="fas fa-clock"></i>
											<!-- <i class="fas fa-user"></i> -->
											<span class="span-icon">{{experience.schedule_type}}</span>
										</a>
									</li>
								</ng-template>
								<!-- <li>
                  <a href="#">
                    <i class="fas fa-clock"></i>
                    <span>{{experience.schedule_type}}</span>
                  </a>
                </li> -->
								<li *ngIf="experience.participation_type == 'Workshop'; else condition3"><a>
										<b class="v-color">W</b>
										<!-- <i class="fas fa-user"></i> -->
										<span class="span-icon">{{experience.participation_type}}</span>
									</a>
								</li>
								<ng-template #condition3>
									<li><a>
											<b class="v-color">V</b>
											<!-- <i class="fas fa-user"></i> -->
											<span class="span-icon">{{experience.participation_type}}</span>
										</a>
									</li>
								</ng-template>

							</ul>
						</figure>
						<div class="image-content">
							<h5 style="cursor:pointer;" (click)="knowmore(experience)">{{experience.experience_name}}</h5>


							<p class="pheight">{{experience.description}}
								<span class="knowmore" (click)="knowmore(experience);">Know More</span></p>
							<div class="row">
								<div class="col-sm-6">
									<a *ngIf="islogin && experience.schedule_type == 'Custom-Schedule'" class="btnml btn-primary"
										(click)="scheduleButton(experience)">
										Schedule Now
									</a>
									<a *ngIf="islogout && experience.schedule_type == 'Custom-Schedule'"
										class="btnml btn-primary" (click)="sendtologin()">
										Schedule
									</a>
									<a *ngIf="islogin && experience.schedule_type == 'Pre-Schedule'"
										(click)="locationButton(experience)" class="btn-op btn-primary"> TagNow </a>
									<a *ngIf="islogout && experience.schedule_type == 'Pre-Schedule'" (click)="sendtologin()"
										class="btn-op btn-primary"> TagOn </a>

								</div>
								<div class="col-md-6">
									
									<a style="cursor:pointer;" (click)="onRatingSet(experience)">
										<ngx-stars class="stars" style="float:left" [maxStars]="5" [initialStars]=experience.review 
										[readonly]="true" (ratingOutput)="onRatingSet(experience); "> 
									</ngx-stars>({{experience.review_count}})</a>
									

								</div>
								<div class="modal" id="Modallocation">
									<div class="modal-dialog">
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title">Pre-Schedule</h4>
												<button type="button" class="close" data-dismiss="modal"
													(click)='modelClose()'>X</button>
											</div>
											<!-- Modal body -->
											<div class="modal-body">
												<p *ngIf="contactmessage" style="background:green;
								padding: 5px;
								font-size: 15px;
								color: #ffffff;
								width: 100%;
								height: auto !important;">{{message}}<span (click)="close();"
														style="color: #fff;float:right;cursor:pointer;">X</span></p>
												<form [formGroup]="preForm"  id="message" (ngSubmit)="tagon()" class="formlabel">
													<div class="col-md-12" *ngFor="let area of locations">

														<div class="form-group has-success">
															<span>
																<input type="radio" [value]="area.id"
																	formControlName="location" /><label>
																	{{area.location}} ({{area.date_scheduled}})</label></span>
																
															</div>
													</div>
													<div *ngIf="submitted" style="color:red;">Please select the location</div>
													<br>
													<div class="form-group">
														<button type="submit" class="btn btn-primary btn-lg">TagNow</button>
													</div>
												</form>
											</div>
											<!-- Modal footer -->
										</div>
									</div>
								</div>
							</div>
							<div class="captborder"></div>
							<h6>
								<span class="span-icon">
									<i class="fa fa-map-marker" aria-hidden="true"></i> {{experience.address}}
									{{experience.city_name}}</span>
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="browse-all">
		<a routerLink="/explore" class="btn-style-three">BROWSE All EXPERIENCES</a>
	</div>
</section>
<!--End curated-section-->
<div class="modal" id="Modalschedule">

	<div class="modal-dialog modal-overflow">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Custom-Schedule</h4>
				<button type="button" class="close" data-dismiss="modal" (click)='modelDissmiss()'>X</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<flash-messages></flash-messages>
				<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="formlabel">

<div class="row">
	<div class="col-md-6">
					<div class="form-group">
						<label>Name of Organization</label>
						<input type="text" formControlName="organization" class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.organization.errors }" />
						<div *ngIf="submitted && f.organization.errors" class="invalid-feedback">
							<div *ngIf="f.organization.errors.required">Required</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Date</label>
						<input type="date" formControlName="date" class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
						<div *ngIf="submitted && f.date.errors" class="invalid-feedback">
							<div *ngIf="f.date.errors.required">Required</div>
						</div>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
					<div class="form-group">
						<label>No of Volunteers</label>
						<input type="number" formControlName="volunteers" class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.volunteers.errors }" />
						<div *ngIf="submitted && f.volunteers.errors" class="invalid-feedback">
							<div *ngIf="f.volunteers.errors.required">Required</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
						<div class="form-group">
								<label>Address</label>
								<input type="text" formControlName="location" class="form-control"
									[ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
								<div *ngIf="submitted && f.location.errors" class="invalid-feedback">
									<div *ngIf="f.location.errors.required">Required</div>
								</div>
							</div>
					
				</div>
				</div>
				<div class="form-group">
						<label>Description</label>
						<input type="text" formControlName="description" class="form-control"
							[ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
						<div *ngIf="submitted && f.description.errors" class="invalid-feedback">
							<div *ngIf="f.description.errors.required">Required</div>
						</div>
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-lg">Submit</button>
					</div>
				</form>
			</div>
			<!-- Modal footer -->

		</div>
	</div>
</div>
<!--Counter-section-->
<section class="welcome-section sec-title"
	style="background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.9))), url('assets/images/about/15.jpg');background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('assets/images/about/15.jpg');background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('assets/images/about/15.jpg');background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('assets/images/about/15.jpg');">
	<div class="container-fullwidth">
		<div class="row grid-row1">
			<div class="wrapper">
				<div class="counter col_fourth">
					<i class="fas fa-users fa-2x countersize"></i>
					<br>
					<div class="re-size">
						<h2>{{groupevent}}</h2>
					</div>
					<p class="count-text ">NGO Partners</p>

				</div>

				<div class="counter col_fourth countersize ">
					<i class="fab fa-gratipay fa-2x countersize "></i>
					<br>
					<div class="re-size">
						<h2>{{eventcount}}</h2>
					</div>
					<p class="count-text ">Total Events </p>

				</div>

				<div class="counter col_fourth">
					<i class="fas fa-user fa-2x countersize"></i>
					<br>
					<div class="re-size">
						<h2>{{volunteercount}} </h2>
					</div>
					<p class="count-text">Number of Volunteers</p>

				</div>

				<div class="counter col_fourth end">
					<i class="fas fa-clock fa-2x countersize"></i>
					<br>
					<div class="re-size">
						<h2>{{eventhours}}</h2>
					</div>
					<p class="count-text ">Volunteering Hours</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End counter-section-->

<section class="nonprofit-section" style="background: url(assets/images/background/1.jpg);">
	<div class="your-logo wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
		<div class="container con-profit">
			<div class="row">
				<div class="col-md-6  vertical col-half">
					<div class="sec-title text-center text-size">
						<h3>Are You a Nonprofit
							<span> or Social Enterprise?</span>
						</h3>
					</div>
					<p>We collaborate with you to design innovative sensitization programs, immersions, group volunteering programs and skill-based volunteering projects to offer varied opportunities to volunteers. Connect with us.
					</p>
					<div class="btn-center">
						<a href="#" class="btn-style-three" (click)="ngoSend()">Get Tagged</a>
					</div>
				</div>
				<div class="col-md-6 col-margin col-half">
					<div class="sec-title text-center text-size">
						<h3>Are You a Corporate
							<span> or Educational Institute?</span>
						</h3>
					</div>
					<p>We offer expert support to design and implement employee and student volunteering programs, pro bono and service learning. Connect with us today for a customized program!
					</p>
					<div class="btn-center">
						<a href="#" class="btn-style-three" (click)="sendcoed();">Get Tagged</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- modal -->
<div class="modal" id="Modalngo">

	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">NGO Form</h4>
				<button type="button" class="close" data-dismiss="modal" (click)='modelcancle()'>X</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body" ng-app="ngpatternApp" ng-controller="ngpatternCtrl">
				<p *ngIf="contactmessage" style="background:green;
        padding: 5px;
        font-size: 14px;
        color: #ffffff;
        width: 100%;
        height: auto !important;">{{message}}<span (click)="close();"
						style="color: #fff;float:right;cursor:pointer;">X</span></p>
				<form [formGroup]="ngoForm" (ngSubmit)="ngoSubmit()" class="formlabel">
						<h4 class="form-font">Please share below details and we will connect with you soon</h4>
						<br>
					<div class="row">
						<div class="col-md-6">
							
							<div class="form-group">
								<label>Name of Organization</label>
								<input type="text" formControlName="ngo_name" class="form-control"
									[ngClass]="{ 'is-invalid': submitted && n.ngo_name.errors }" />
								<div *ngIf="submitted && n.ngo_name.errors" class="invalid-feedback">
									<div *ngIf="n.ngo_name.errors.required">Required</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
								<div class="form-group">
									<label>Type</label>
									<select name="event_type" formControlName="ngo_type" class="form-control"
										[ngClass]="{ 'is-invalid': submitted && n.ngo_type.errors}">
										<option value="" disabled>Select NGO type</option>
										<option value="Social Entetprise">Social Enterprise</option>
										<option value="NGO">NGO</option>
										<option value="Government">Government</option>
									</select>
									<div *ngIf="submitted && n.ngo_type.errors" class="invalid-feedback">
										<div *ngIf="n.ngo_type.errors.required">Required</div>
									</div>
								</div>
							</div>
					</div>
					<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Email</label>
									<input type="text" formControlName="email" class="form-control"
										[ngClass]="{ 'is-invalid': submitted && n.email.errors }" />
									<div *ngIf="submitted && n.email.errors" class="invalid-feedback">
										<div *ngIf="n.email.errors.required">Required</div>
										<div *ngIf="n.email.errors.email">Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
									<div class="form-group">
										<label>Contact Person</label>
										<input type="text" formControlName="contact_person" class="form-control"
											[ngClass]="{ 'is-invalid': submitted && n.contact_person.errors }" />
										<div *ngIf="submitted && n.contact_person.errors" class="invalid-feedback">
											<div *ngIf="n.contact_person.errors.required">Required</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
										<div class="form-group">
											<label>Contact Number</label>
											<!-- <input type="text" formControlName="contact_number" class="form-control" minlength="10"
												maxlength="10" [ngClass]="{ 'is-invalid': submitted && n.contact_number.errors }" /> -->
												<international-phone-number  type="text" formControlName="contact_number" class="form-control" [minlength]="13" [maxlength]="13" [defaultCountry]="'in'" [required]="true" name="contact_number" [allowedCountries]="['in']"  [ngClass]="{ 'is-invalid': submitted && n.contact_number.errors }"></international-phone-number>
											<div *ngIf="submitted && n.contact_number.errors" class="invalid-feedback">
												<div *ngIf="n.contact_number.errors.required">Required</div>
												<div *ngIf="n.contact_number.errors.pattern">Required</div>
											</div>
										</div>
									</div>
							
					</div>
				
					<div class="row">
						
						<div class="col-md-4">
							<div class="form-group">
								<label>Country</label>
								<select formControlName="country" class="form-control"
									[ngClass]="{ 'is-invalid': submitted && n.country.errors}">
									<!-- <option value="" disabled>Select Country</option> -->
									<option value=1>India</option>
								</select>
								<div *ngIf="submitted && n.country.errors " class="invalid-feedback">
									<div *ngIf="n.country.errors.required">Required</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>State</label>
								<select (change)="onStateSelect($event)" name="state" formControlName="state"
									class="form-control" [ngClass]="{ 'is-invalid': submitted && n.state.errors}">
									<option value="" disabled>Select State</option>
									<option *ngFor="let state of statelist" value={{state.id}}>
										{{ state.state_name }}
									</option>
								</select>
								<div *ngIf="submitted && n.state.errors " class="invalid-feedback">
									<div *ngIf="n.state.errors.required">Required</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
								<div class="form-group">
									<label>City</label>
									<select formControlName="city" class="form-control"
										[ngClass]="{ 'is-invalid': submitted && n.city.errors}">
										<option value="" disabled>Select City</option>
										<option *ngFor="let statecity of statecitylist" [ngValue]="statecity.id">
											{{ statecity.city_name }}
										</option>
									</select>
									<div *ngIf="submitted && n.city.errors " class="invalid-feedback">
										<div *ngIf="n.city.errors.required">Required</div>
									</div>
								</div>
							</div>
					</div>
					<div class="row">
					<div class="col-md-12">
							<div class="form-group">
								<label>Address</label>
								<textarea type="text" rows="3" formControlName="address" class="form-control"
									[ngClass]="{ 'is-invalid': submitted && n.address.errors }"></textarea>
								<div *ngIf="submitted && n.address.errors" class="invalid-feedback">
									<div *ngIf="n.address.errors.required">Required</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Tell us about your requirements</label>
								<textarea rows="3" type="text" formControlName="ngo_description" class="form-control"
									[ngClass]="{ 'is-invalid': submitted && n.ngo_description.errors }"></textarea>
								<div *ngIf="submitted && n.ngo_description.errors" class="invalid-feedback">
									<div *ngIf="n.ngo_description.errors.required">Required</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<button class="btn btn-primary btn-lg">Submit</button>
					</div>
				</form>
			</div>
			<!-- Modal footer -->

		</div>
	</div>
</div>
<!-- modal end -->


<!-- modal -->
<div class="modal" id="Modalcoed">

	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Institute/Corporate Form</h4>
				<button type="button" class="close" data-dismiss="modal" (click)='modelend()'>X</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body">
				<p *ngIf="contactmessage" style="background:green;
        padding: 5px;
        font-size: 12px;
        color: #ffffff;
        width: 100%;
        height: auto !important;">{{message}}<span (click)="close();"
						style="color: #fff;float:right;cursor:pointer;">X</span></p>
				<form [formGroup]="coedForm" (ngSubmit)="coedSubmit()" class="formlabel">
						<h4 class="form-font">Please share below details and we will connect with you soon</h4>
						<br>
					<div class="row">
						<div class="col-md-12 col-paddingright">
							<div class="form-group">
								<label>Name of Organization</label>
								<input type="text" formControlName="name" class="form-control"
									[ngClass]="{ 'is-invalid': submitted && c.name.errors }" />
								<div *ngIf="submitted && c.name.errors" class="invalid-feedback">
									<div *ngIf="c.name.errors.required">Required</div>
								</div>
							</div>
						</div>
					
					</div>
				<div class="row">
						<div class="col-md-6 col-paddingright">
								<div class="form-group">
									<label>Type</label>
									<select name="event_type" formControlName="type" class="form-control"
										[ngClass]="{ 'is-invalid': submitted && c.type.errors}">
										<option value="" disabled>Select type</option>
										<option value="Corporate">Corporate</option>
										<option value="Institute">Institute</option>
	
									</select>
									<div *ngIf="submitted && c.type.errors" class="invalid-feedback">
										<div *ngIf="c.type.errors.required">Required</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-paddingright">
								<div class="form-group">
									<label>Email</label>
									<input type="text" formControlName="email" class="form-control"
										[ngClass]="{'is-invalid': submitted && c.email.errors}" />
									<div *ngIf="submitted && c.email.errors" class="invalid-feedback">
										<div *ngIf="c.email.errors.required">Required</div>
										<div *ngIf="c.email.errors.email">Please enter valid email address</div>
									</div>
								</div>
							</div>
							
						</div>
					<div class="row">
						<div class="col-md-6 col-paddingright">
							<div class="form-group">
								<label>Contact Person</label>
								<input type="text" formControlName="contact_person" class="form-control"
									[ngClass]="{ 'is-invalid': submitted && c.contact_person.errors }" />
								<div *ngIf="submitted && c.contact_person.errors" class="invalid-feedback">
									<div *ngIf="c.contact_person.errors.required">Required</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-paddingleft">
							<div class="form-group">
								<label>Contact Number</label>
								<!-- <input type="text" formControlName="contact_number" class="form-control" minlength="10"
									maxlength="10" [ngClass]="{ 'is-invalid': submitted && c.contact_number.errors }" /> -->
									<international-phone-number  type="text" formControlName="contact_number" class="form-control" [minlength]="13" [maxlength]="13" [defaultCountry]="'in'" [required]="true" name="contact_number" [allowedCountries]="['in']"  [ngClass]="{ 'is-invalid': submitted && c.contact_number.errors }"></international-phone-number>
								<div *ngIf="submitted && c.contact_number.errors" class="invalid-feedback">
									<div *ngIf="c.contact_number.errors.required">Required</div>
									<div *ngIf="c.contact_number.errors.pattern">Please enter valid contact number</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
							<div class="col-md-12 col-paddingright">
								<div class="form-group">
									<label>Tell us about your requirements</label>
									<textarea type="text" formControlName="description" class="form-control"
										[ngClass]="{ 'is-invalid': submitted && c.description.errors }"></textarea>
									<div *ngIf="submitted && c.description.errors" class="invalid-feedback">
										<div *ngIf="c.description.errors.required">Required</div>
									</div>
								</div>
							</div>
						</div>
				




					<div class="form-group">
						<button class="btn btn-primary btn-lg">Submit</button>
					</div>
				</form>
			</div>
			<!-- Modal footer -->

		</div>
	</div>
</div>
<!-- modal end -->


<!--gellary-fullwidth section-->
<section class="gellary-fullwidth">
	<div class="container-fullwidth">
		<div class="sec-title text-center">
			<h3 class="catagory-margin">our
				<span>gallery</span>
			</h3>
		<br>
		<br>
		</div>
		<div class="row inner-container">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="inner-box">
					<div class="img_holder">
						<img src="assets/images/gallery/award.jpg" alt="images" (click)="ngoSend1(0)" class="img-responsive">
					</div>
				
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="inner-box">
					<div class="img_holder">
						<img src="assets/images/gallery/bettaworkshop.jpg" alt="images" (click)="ngoSend1(1)" class="img-responsive">
					</div>
				
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="inner-box">
					<div class="img_holder">
						<img src="assets/images/gallery/award1.jpg" alt="images" (click)="ngoSend1(2)" class="img-responsive">
					</div>
			
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="inner-box">
					<div class="img_holder">
						<img src="assets/images/gallery/img1.jpg" alt="images" (click)="ngoSend1(3)" class="img-responsive">
					</div>
				
				</div>
			</div>
		</div>
		<br>
		<div class="row inner-container">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="img_holder">
							<img src="assets/images/gallery/SLP.jpg" alt="images" (click)="ngoSend1(4)" class="img-responsive">
						</div>
					
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="img_holder">
							<img src="assets/images/gallery/vol.jpg" alt="images" (click)="ngoSend1(5)" class="img-responsive">
						</div>
					
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="img_holder">
							<img src="assets/images/gallery/sports.jpg" alt="images" (click)="ngoSend1(6)" class="img-responsive">
						</div>
				
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="img_holder">
							<img src="assets/images/gallery/park.jpg" alt="images" (click)="ngoSend1(7)" class="img-responsive">
						</div>
					
					</div>
				</div>
			</div>
	</div>
</section>
<!--End gellary-fullwidth section-->
<br><br>
<section class="container-video">
<div class="row">
<div class="video-padding col-md-3 col-sm-6 col-xs-12">
		<iframe width="560" height="200" src="https://www.youtube.com/embed/giG4K5oVHuo?&rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="video-padding col-md-3 col-sm-6 col-xs-12">
		<iframe width="560" height="200" src="https://www.youtube.com/embed/psXfHgwVljA?&rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="video-padding col-md-3 col-sm-6 col-xs-12">
		<iframe width="560" height="200" src="https://www.youtube.com/embed/G53A6H5taqs?&rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="video-padding col-md-3 col-sm-6 col-xs-12">
		<iframe width="560" height="200" src="https://www.youtube.com/embed/dtKRgh7zQaA?&rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

</section>

<!-- modal -->
<div class="modal" id="Modalgallery">

		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
			<!-- Modal body -->
			<button type="button" class="close close-gallery" data-dismiss="modal" style="font-size:25px;" (click)='modelend()'>X</button>
				<div class="modal-body modal-gallery">
						
						<ngb-carousel *ngIf="images">
								<ng-template ngbSlide>
									<img [src]="images[0]" alt="Random first slide">
									
								</ng-template>
								<ng-template ngbSlide>
									<img [src]="images[1]" alt="Random second slide">
								
								</ng-template>
								<ng-template ngbSlide>
									<img [src]="images[2]" alt="Random third slide">
									
								</ng-template>
								<ng-template ngbSlide>
										<img [src]="images[3]" alt="Random third slide">
									
									</ng-template>
									<ng-template ngbSlide>
											<img [src]="images[4]" alt="Random third slide">
										
										</ng-template>
										<ng-template ngbSlide>
												<img [src]="images[5]" alt="Random third slide">
											
											</ng-template>
											<ng-template ngbSlide>
													<img [src]="images[6]" alt="Random third slide">
												
												</ng-template>
												<ng-template ngbSlide>
														<img [src]="images[7]" alt="Random third slide">
													
													</ng-template>
							</ngb-carousel>

				</div>
				<!-- Modal footer -->
	
			</div>
		</div>
	</div>
	<!-- modal end -->

<br><br>
   <!--testimonials Style-->
<section class="testimonial-section sec-margin" style="background: url(assets/images/background/1.jpg) no-repeat;-webkit-background-size: cover;

-moz-background-size: cover;

-o-background-size: cover;

background-size: cover;">
  <div class="container">
    <div class="sec-title text-center">
      <h3>What People
        <span>Say</span>
      </h3>
      <p class="rem-col">.</p>
      <div class="icon-quort">
        <i class="fa fa-quote-right" aria-hidden="true"></i>
      </div>
    </div>
    <!--Testimonial Carousel-->
    <div class="testimonial-carousel two-column-carousel">
      <!--Slide Item-->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner corousal-testimonial">
          <div class="item active">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="info-outer text">
                  <div class="text">"The workshops and opportunities from LetsTagOn revolutionized 
										our perspectives on various social issues. I realized that everybody has 
										something to offer and that even small effort counts."
										</div>
                </div>
                <div class="row">
                <figure class="author-image img-circle">
                  <img class="img-circle" src="assets/images/testimonials/chaya.jpg" alt="">
                </figure>
              </div>
                <div class="author-info">
                  <h4>Ms. Chhaya Govil</h4>
                  <div class="designation">Student, Welingkar Institute of Management</div>
                </div>
              </div>
     
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="info-outer text">
                  <div class="text">"We have partnered with LetsTagOn to offer service-learning program to students. LetsTagOn has
											designed and is implementing a customized program which we believe will be a big differentiator to
											our curriculum."</div>
                </div>
                <div class="row">
                <figure class="author-image img-circle">
                  <img class="img-circle" src="assets/images/testimonials/basanna.jpg" alt="">
                </figure>
              </div>
                <div class="author-info">
                  <h4>Dr. Basanna Patagundi</h4>
                  <div class="designation">Head of Department–MBA, Cambridge Institute of Technology</div>
                </div>
              </div>
            
          </div>
          <div class="item">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="info-outer text">
                  <div class="text">"I saw an opportunity on LetsTagOn portal to volunteer at a summer camp to teach my hobby and jumped at it.I had taken my 15-year-old daughter along.We both had wonderful experience interacting with enthusiastic kids and helping them explore hobby."
                  </div>
                </div>
                <div class="row">
                <figure class="author-image img-circle">
                  <img class="img-circle" src="assets/images/testimonials/laxmi.jpeg" alt="">
                </figure> 
                </div>
                <div class="author-info">
                  <h4>Ms. Laxmi Balur</h4>
                  <div class="designation">Volunteer</div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="info-outer text">
                  <div class="text">"There was a strong need for a bridge between NGOs & volunteers and 
										LetsTagOn is doing a great job in building that curated bridge. LetsTagOn has supported us on our various projects and it makes the engagement simple, effective and efficient for both the parties." 
										</div>
                </div>
                <div class="row">
                <figure class="author-image img-circle">
                  <img class="img-circle" src="assets/images/testimonials/Pramod.jpg" alt="">
                </figure>
              </div>
                <div class="author-info">
                  <h4>Mr. Pramod Sridharamurthy</h4>
                  <div class="designation">Secretary, Board of Trustees - India Literacy Project
										</div>
                </div>
              </div>
            
		  </div>
		  <div class="item" *ngFor = "let testimonial of testimonialview">
			<div class="col-md-6 col-sm-12 col-xs-12">
			  <div class="info-outer text">
				<div class="text">“{{testimonial.message}}
				</div>
			  </div>
			  <div class="row">
			  <figure class="author-image img-circle">
				<img class="img-circle" src={{testimonial.image_path}} alt="">
			  </figure> 
			  </div>
			  <div class="author-info">
				<h4>{{testimonial.first_name}} {{testimonial.last_name}}</h4>
				<div class="designation">{{testimonial.designation}}</div>
			  </div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
			  <div class="info-outer text">
				<div class="text">"The workshops & opportunities from LetsTagOn revolutionized our perspectives on various social issues.LetsTagOn matched my skills & interests with opportunity & I realized that everybody has something to offer & that even small effort counts.”</div>
			  </div>
			  <div class="row">
			  <figure class="author-image img-circle">
				<img class="img-circle" src="assets/images/testimonials/chaya.jpg" alt="">
			  </figure>
			</div>
			  <div class="author-info">
				<h4>Ms. Chhaya Govil</h4>
				<div class="designation">Student, Welingkar Institute of Management</div>
			  </div>
			</div>
		  
		</div>
		
        </div>
      </div>
    </div>
  </div>
</section>
<!--End testimonials Style-->





<!--news-section-->
<section class="news-section advisors">
	<div class="container advisors-1">
		<div class="sec-title text-center">
			<h3 class="catagory-margin">Stories
				<span>of Impact</span>
			</h3>
		</div>
	</div>
	<section class="half-section">
		<div class="row">
			<div class="col-md-6 nopadding">
				<div class="image hover-effect img-container">
					<img alt="" src="assets/images/gallery/SLP.jpg" class="equalheight">
				</div>
			</div>
			<div class="col-md-6 nopadding">
				<div class="split-box text-center center-block container-padding equalheight">
					<div class="heading-title padding">
						<!-- <div class="hashtag">#SaveChild</div> -->
						<div>
							<span class="wow fadeInUp animated animated" data-wow-delay="300ms"
								style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
								<h2 class="darkcolor bottom20 wow fadeInUp animated animated" data-wow-delay="400ms"
									style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">Social Leadership Program
								</h2>
								<br>
								<p class="info-outer service-description" data-wow-delay="500ms">
									The joy is different when you have struggled with something and at last you feel you have finally cracked it! We have struggled with making skill-based volunteering effective. With Social Leadership Program, we seem to have cracked it.<br><br>
Social Leadership Program is a very structured, 12-week Program where the volunteers donate their skill, develop new skills and social organization benefits through professional skills.<br>
Our first cohort of Social Leadership Program graduated in March 2019. The first cohort saw 24 applications. 20 shortlisted volunteers formed into 7 teams, started their journey with 5 NGOs working on projects on themes of Digital Marketing, Content Development, Impact Analysis & Fund Raising Facilitation.
The volunteers were engaged for 12 weeks with constant support, tracking and 14 volunteers who completed 6 projects successfully were graduated in March 2019 at the inspiring graduation ceremony. Our partner social organizations benefitted with a total of ~700 hours of skill-based volunteering.
</p>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="half-section">
		<div class="row direction">
			<div class="col-md-6 nopadding">
				<div class="split-box text-center center-block container-padding equalheight">
					<div class="heading-title padding">
						<!-- <div class="hashtag">#GoVegan</div> -->
						<span class="wow fadeInUp animated animated" data-wow-delay="300ms"
							style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
							<h2 class="darkcolor bottom20 wow fadeInUp animated animated" data-wow-delay="400ms"
								style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">Teach For India Summer Camp
							</h2>
							<br>
							<p class=" wow fadeInUp service-description animated animated" data-wow-delay="500ms"
								style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
								Imagine the combination of joy of pursuing your hobby and joy of giving! Many volunteers jumped at this opportunity and signed up on our portal to help kids explore different hobbies at a summer camp organized by Teach For India.<br><br>
								LetsTagOn volunteers supported Teach For India - Bangalore to successfully conduct a two-week summer camp for 40 students at GMPS Byatrayanapura, Bengaluru. Our volunteers played a significant role in the two-week program to make it full of fun and frolic for the children through specially curated theatre workshops, singing and embroidery.<br><br>
								It was an enriching experience for kids and so was for our volunteers. There is no measure for the happiness on the innocent faces, their unwillingness to let our volunteers go and the joy and satisfaction for our volunteers. We, thus, let out our heart and soul to provide a joyful learning experience for the kids and gained a lot more in the process.
								</p>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 nopadding">
				<div class="image hover-effect img-container">
					<img alt="" src="assets/images/gallery/img2.jpg" class="equalheight">
				</div>
			</div>
		</div>
	</section>

	<section class="half-section">
		<div class="row">
			<div class="col-md-6 nopadding">
				<div class="image hover-effect img-container">
					<img alt="" src="assets/images/gallery/ilp1.jpg" class="equalheight">
				</div>
			</div>
			<div class="col-md-6 nopadding">
				<div class="split-box text-center center-block container-padding equalheight">
					<div class="heading-title padding">
						<div>
							<!-- <div class="hashtag">#Kiducation</div> -->
							<span class="wow fadeInUp animated animated" data-wow-delay="300ms"
								style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
								<h2 class="darkcolor bottom20 wow fadeInUp animated animated" data-wow-delay="400ms"
									style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">India Literacy Project
								</h2>
								<br>
								<p class=" wow fadeInUp service-description animated animated" data-wow-delay="500ms"
									style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
									When we started this journey of ‘Tagging’ volunteers to causes, we getting ‘Tagged’ to India Literacy Project (ILP) was the best thing to happen to us in the early days! Since then, we have had several opportunities for our volunteers to contribute to the amazing work that ILP has been doing.<br><br>
40+ volunteers have contributed so far to content development and research on educational concepts. We had the opportunity to design and execute an innovative event for student volunteers at an educational institute to come together and contribute to content update. Our overseas volunteers contributed virtually to content development and research.<br><br>
Our corporate partners had the opportunity to collaborate with ILP and donate cost-effective science kits designed by ILP to the Government schools of remote corners of Karnataka and train the science teachers.
With 300+ hours of volunteering, we are sure our volunteers are proud of their contribution to the mission of ILP to be a catalyst for 100% literacy in India.
</p>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<!--End news-section-->
<app-footer></app-footer>
</section>