p.line-space {
    line-height: 1.5 !important;
     font-weight: 400;
      font-size: 15px;
     color: #fff !important;
     font-family: 'Nanum Gothic', sans-serif;
}

.rem-col{
   color: #31393e !important;
}
main-search-button{
    font-family: 'Nanum Gothic', sans-serif;
}

.couses-section .image-box {
    position: relative;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    border-radius: 5%;
}
p {
    font-family: 'Nanum Gothic', sans-serif !important;
}
h2, .h2 {
    font-size: 2.6rem;
}
.category h2{
    line-height: 1;
}

.container-curated{
    max-width: 100% !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
}


/* -------------- */
@media only screen and (max-width:550px){
	.row-grid ,.row-align{
		display: contents !important;
	}
	.col-grid{
		height: 160px !important;
    }
    .col-grid h2 {
        margin-top: -31px;
    }
    .sec-title h3 {
        font-size: 25px;
    }
    .sponsors-logos h3 {
        font-size: 25px !important;
    }
    .browse-all {
      
        margin-bottom: 10% !important;
    }

    .sec-title-padding {
        margin: -21px !important;
    }
    .sec-title-padding{
        padding-bottom: 47px !important;
    }
    .couses-section h3 {
       
        line-height: 36px !important;
    }
} 

@media (min-width: 550px) and (max-width: 768px){
    .col-grid h2 {
        font-size: 2rem;
    }
    .col-grid {
        height: 183px !important;
    }
    .col-grid h2 {
        margin-top: -11px;
    }
   
}

@media (min-width:768px){
    .col-grid {
        height: 215px;
    }
    .fa-5x {
        font-size: 7em !important;
        text-rendering: optimizeLegibility;
    }
 
}

.fa-5x {

    text-rendering: optimizeLegibility;
}


/* --------------------------- */

/* Footer form starts  here */
.btn-align{
text-align: right;
}
.equalheight {
width: 100%;
}

.col-md-6 {
padding-right: 0px !important;
padding-left: 0px !important;
}

.padding {
padding: 30px 30px 30px 30px;
}
@media (min-width:1200px) {
.container11 {
    width: 93%;
}
}
.cofrm 
.label {
display: inline-block;
max-width: 100%;
margin-bottom: 5px;
font-weight: 400;
color: #c4ccd0;
}
.main-search-input-item select{
    background: #fff !important;
    padding: 0px;
    border: 1px solid #ffffff;
    border-radius: 0px;
}
input.cform[type=text], select, textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    font-size: 14px; 
    font-family: 'Nanum Gothic', sans-serif !important;   
}
.form-control{
    border-color: #cccccc;
    height: calc(2.6rem + 0.75rem + 2px);
}
select.form-control:not([size]):not([multiple]){
    height: calc(2.6rem + .75rem + 2px);
}
input[type=submit] {
background-color: #0089c8;
color: white;
padding: 4px 9px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #0475a9;
}

.form-width{
    width: 110%;
}
/* Footer form ends  here */

.rev_slider_wrapper, .rev_slider, .tp-fullwidth-forcer, .rev_slider .tp-bgimg.defaultimg {
max-height: 600px !important;

}
.captborder{

    border-bottom: 2px solid #f2f2f2;
    width: 80%;
    margin: 25px;
}

.blog .rev_slider_wrapper, .blog .rev_slider, .blog .tp-fullwidth-forcer, .blog .rev_slider .tp-bgimg.defaultimg {
max-height: 100px !important;
}
/* Social sidebar starts  here */

.headerborder{

border-bottom: 2px solid #0089c8;
}

.main-header .main-header-info {

padding-top: 13px;
}
.countersize{
font-size: 55px !important;
    text-rendering: optimizeLegibility;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before{
font-size: 55px;
color: #0089c8;
}

.btn-primary:hover{
background-color: #171a1d;
}
.open>.dropdown-menu {

background-color: #0089c8;
}
.dropdown-menu>li>a {

color: #fff;
}
.welcome-section {
background-repeat: no-repeat;
background:none;
 /* height:  -webkit-fill-available;  */
    background-size: cover;

}

icons{
padding:22%;
}
.checked {
color: orange !important;
}
.btn-left{
left:18%;
}
.container-fluid {
padding-right: 210px !important;
padding-left: 210px !important;

}
.search-bar{
   position:absolute;
   top:12%;
   /* left:7%; */
   /* padding: 45px 100px 2px 100px; */
}
 /* #myInput {
border-box: box-sizing;
background-image: url('assets/images/searchicon.png');
background-position: 14px 12px;
background-repeat: no-repeat;
font-size: 16px;
padding: 14px 20px 12px 45px;
border: none;
border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
position: relative;
display: inline-block;
} */



.dropdown-content {
display: none;

background-color: #f6f6f6;
min-width: 230px;
overflow: auto;
border: 1px solid #ddd;
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.col_fourth:hover .overlay {

opacity: 0.5;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.left-side{
padding: 0px 171px;

}
.row-margin{
margin-top:5px;
}

.sec-margin{
margin-top:4px;
}
.browse-all{
    width:auto;
    margin:auto;
    margin-bottom:3%;
    margin-left: 42%;
}
.carousel-inner {
    /* height: 550px !important; */
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}


.container-content {
position:absolute;
text-align: center;
/* padding: 170px 2px 2px 425px; */
/* padding-left: 32%; */
padding-top: 9%;
margin: auto;

    width: 100%;
    

}


.img-circle {
    border-radius: 50%;
    position: absolute;
    right: 40%;
    height: 40%;
}
@media only screen and (max-width:768px){
    .main-search-input {
       margin-top: 26%;
    }
    .testimonial-section {
        padding: 60px 0px 80px !important;
    }
    .sponsors-subscribe .right-side {
        margin-bottom: 5px !important;
    }
    .img-circle {
        right:0 !important;
        position: relative !important;
        margin: auto !important;
}
.author-info{
    margin-top: 0% !important;
}
.text-size h3{
    font-size: 21px !important;
}
.nonprofit-section p {
    font-size: 12px !important;
}
}
.corousal-testimonial{
    height: auto !important;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-indicators li{
    display:none;
}
.fa-5x {
    font-size: 8em;
}
.fa-7x {
    font-size: 10em;
}

.fa-gratipay{
    margin-bottom: -67px;
}
.cpatop {
    padding-top: 0px;
}
.couses-section .image-holder .image-content p{
    height: 110px !important;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img{
    height:500px!important;
}
@media only screen and (max-width:600px){
 .carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img{
        height:500px !important;
    }  
    .main-search-button {
        position: inherit !important;
        right: 0px;
        width: 100% !important;
        color: #fff;
        top: 0;
        border: none;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 19px;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 19px;

    }
}

.text{
    position: relative;
    line-height: 30px;
    margin-top: 50px;
    font-size: 16px;
    color: #c4ccd0;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding-left:7px;
    padding-right:7px;
}
.author-info{
    text-align: center !important;
    margin-top: 17%;
}
body{
    font-size: 1.5rem !important;
    line-height: 2 !important;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
}


.btn-primary, .btn-primary.disabled, .btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active{
    background: #0089c8;
    border: 1px solid #26c6da;
    color:#fff !important;
   
}

.couses-section {
    position: relative;
    padding: 0px 0px;
}

.fa {
  
    font-size: 15px;
}

.main-search-input {
    font-size: 15px;
}
.main-slider{
    margin-top:4%;
}

.gellary-fullwidth {
    padding-top: 30px !important;
    background: #fff;
    /* margin-top: -16%; */
}

/*CSS catergery*/

.container-category  {
  width: 80%;
  margin: 5rem auto; 
  background: #fefefe;
}


.section-category{
background: #fefefe;
/* padding-bottom: 40px; */
}
.container-category{
width: 90%;
padding: 0px 30px;
margin: 0rem auto;

}

.category  {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

h2 span { 
    color: white; 
    font: bold 14px/15px Nanum Gothic; 
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
    bottom: -156px;
    /* position: absolute; */
 }
 @media only screen and (max-width:500px){
    h2[_ngcontent-c1] span[_ngcontent-c1]{
        font: bold 15px/15px Helvetica, Sans-Serif;
        /* padding: 2px; */
    }
 }

 .span-4{
    bottom: -236px !important;

 }
 .span-3{
    bottom: -402px  !important;

 }

/* CSS catergery*/
/* 
@media (min-width: 425px) and (max-width: 768px){ */
    @media screen and (max-width: 768px){
        .category[_ngcontent-c1]{
            display: block !important;
        }
    .main-slider{
        margin-top: 9%;
    }
    .container-content{
        position: absolute;
        text-align: center;
        /* padding: 92px 2px 2px 185px !important; */
    }
    .main-slider h2 {
        font-size: 23px !important;
        color: #0089c8;
        font-weight: 600;
        line-height: 25px;
        text-transform: uppercase;
        font-family: 'Nanum Gothic', sans-serif;
    }
    input, button, select, optgroup, textarea {
      
        font-family: 'Nanum Gothic', sans-serif !important;
    }
    h1{
        font-family: 'Nanum Gothic', sans-serif !important;
    }
    .main-slider h1 {
        font-size: 27px !important;
        color: #ffffff;
        font-weight: 600;
        line-height: 45px;
        text-transform: uppercase;
        font-family: 'Nanum Gothic', sans-serif !important;
    }
    .main-slider p {
        font-size: 15px;
        color: #ffffff;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 1px;
        font-family: 'Nanum Gothic', sans-serif;
    }
    p.line-space {
        line-height: 1.5 !important;
        font-weight: 400;
        font-size: 11px;
        color: #fff !important;
        font-family: 'Nanum Gothic', sans-serif;
    }
   .row-align{
    text-align: center !important;
    margin: auto !important;

   }
   .fa-5x {
    font-size: 5em;
}
.fa-7x {
    font-size: 8em;
}

  
}

@media only screen and (max-width: 400px){
.main-header .header-top .main-logo {
    float: none;
    position: relative;
    margin: 6px 45px !important;
}
}
.equalheight{
    height: 450px;
}
.hashtag {
  
    margin-bottom: -1px !important;
}

.social li:last-child a:hover {
    background: #ffffff !important;
    color: #0089c8 !important;
}

@media screen and (max-width: 600px){
    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px;
    
}
.main-search-input {
    padding: 9px;
  
}
}

@media (min-width: 992px){
.container{
    max-width: 100% !important;
    padding-left: 15% !important;
    padding-right: 15% !important;
}
.container-curated{
    max-width: 100% !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
}
.testimonial-section .testimonial-carousel {
    margin-top: -2% !important;
}
.testimonial-section .sec-title{
    padding-top: 0% !important;
}
.search-bar{
    top:17% !important;
}

.main-search-input {
 
    margin-top: 26% !important;
}
}

@media (min-width: 768px) and (max-width: 991px){
.container {
    max-width: 100% !important;
    padding-left: 6%;
    padding-right: 6%;
}
.container-curated{
    max-width: 100% !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
}
.search-bar{
    top:17% !important;
}
.testimonial-section .testimonial-carousel {
    margin-top: -3% !important;
}
}
@media (min-width: 576px){
.container {
    max-width: 100% !important;
    padding-left: 6%;
    padding-right: 6%;
}
.container-curated{
    max-width: 100% !important;
    padding-left: 6% !important;
    padding-right: 6% !important;
}

}
@media (min-width: 425px) and (max-width: 680px){
.counter.col_fourth{
    width: 50% !important;
}
.end{
    margin-right: 2% !important;
}
}
@media only screen and (max-width:425px){
    .col-paddingright{
        padding-left: 6% !important;
    
    } 
    .counter.col_fourth{
        width: 100% !important;
    }

    .main-search-input {
        margin-top: 50%;
    }
    .container-content {
     
        padding-top: 16%;
    }
    .testimonial-section .icon-quort i {
        top: 85px;
      margin-left: -30px;
      font-size: 20px;
     width: 60px;
      height: 60px;
    }
    
}
@media (min-width: 410px) and (max-width: 600px){
.testimonial-section .icon-quort i {
    top: 80px;
margin-left: -30px;
font-size: 23px;
width: 75px;
height: 75px;
}
}
@media (min-width: 768px) and (max-width: 1130px){
    h2 {
        font-size: 2.2rem;
    }
    p {
  
        font-size: 12px;
    }
}

@media (min-width: 425px) and (max-width: 600px){
  

    .main-search-input-item input:first-child {
        border-radius: 10px;
    }
    .main-search-input {
        padding: 9px;
       
    }
}

h2 {
    margin-bottom: 0rem;

}
.col-grid{
    height: inherit ;
}

@media only screen and (max-width:1130px){
    .browse-all[_ngcontent-c1] {
        width: auto;
        margin: auto;
        margin-bottom: 3%;
        text-align: center;
    }
}
.grid-row1{
  margin: auto 8px !important;
}


/* About us CSS */
.text{
    position: relative;
    line-height: 30px;
    margin-top: 50px;
    height: 130px;
    font-size: 16px;
    color: #c4ccd0;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
.carousel-indicators li{
    display: none;
}
.img-circle{
    margin-left: 0%;
    width: 60px;
}
.author-info{
    text-align: center;
    padding-bottom: 40px;

}

@media  (min-width:711px) and (max-width: 768px){
    .col-half {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    .con-profit {
        padding-left: 0% !important;
        padding-right: 5% !important;
    }
}

@media(max-width: 767px){
.col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
 .testimonial-section .testimonial-carousel {
    margin-top: -4% !important;
}


}
.volunteers-section .image-holder h5{
    text-transform: capitalize !important;
}
.volunteers-section h3{
    margin-bottom: 12%;
}
.testimonial-section, .sec-title{
    margin-bottom: 0%;
 
}

.volunteers-section{
    padding-top: 0px;
}
.img-container img{
    width:100% !important;
}
.nopadding{
    padding: 0 0 0 0 !important; 
}
.equalheight{
    height: 480px;
}
.news-section{
    padding: 0 0 0 15px !important;
}
.service-description{
    text-align: justify;
}
@media (min-width: 320px) and (max-width: 767px){
    .volunteers-section .image-holder p{
        font-size: 15px;
        height: 35px;
    }
    .volunteers-section h3{
        margin-bottom: 23%;
    }
   
    .direction {
        flex-direction: column-reverse;
        display: flex;
    }
    .img-container img{
        height: 400px;
    }
    .equalheight{
        height: auto;
    }
    .about-section{
        padding-top: 60px;
        padding-bottom: 0px;
    }
    .text{
        height: auto;
    }
    .volunteers-section{
        padding-bottom: 30px;
    }
}
@media (min-width: 320px) and (max-width: 600px){
    .img-container img{
        height:300px;
    }
    .equalheight{
        height: auto;
    }
    .testimonial-section .testimonial-carousel {
        margin-top: -4% !important;
    }
}
@media (min-width: 320px) and (max-width: 600px){
    .testimonial-section .testimonial-carousel {
        margin-top: -10% !important;
    }

    
}
@media (min-width: 320px) and (max-width: 500px){

    .modal-body{
        height: 350px;
        overflow-y: scroll;
    }
    .modal-content {

        margin-top: 25% !important;
    }
    .img-container img{
        height:300px;
    }
    .equalheight{
        height: auto;
    }
    
    .volunteers-section h3{
        margin-bottom: 32%;
    }
    .text{
        height: auto;
    }
    .testimonial-section .sec-title p{
        margin-bottom: 50px;
    }
    .about-section .sec-title p{
        font-size: 16px;
    }
    .service-description{
        padding: 0 15px 0;
    }
    .testimonial-section .testimonial-carousel {
        margin-top: -7% !important;
    }
    .main-search-input-item input {
      height: 30px;
    }
    input {
     font-size: 12px;
    }
  select{
  font-size: 12px;
  }
  .search-height{
    height: calc(2rem + 0.75rem + 2px) !important;
}
.main-search-input-item {
 height: 24px;
}

.main-search-input-item select{
border-radius: 6px; 
}
.main-search-button {
    font-family: 'Nanum Gothic', sans-serif !important;
    height: 28px;
}
button{
    font-family: 'Nanum Gothic', sans-serif !important;
}
.carousel-inner> .item > img{
    height: 400px !important;
}
.main-slider p{
    font-size: 12px;
 line-height: 20px;
}

.main-slider h1{
line-height: 30px;
}

.main-search-input {
margin-top: 45%;
}

}

@media (min-width: 765px) and (max-width: 768px){
.main-search-input{
    margin-top: 20% !important;
}
}

.sec-title-padding{
    padding-bottom: 25px;
}
.advisors-1{
    padding:30px 0px;
}
.testimonial-section .testimonial-carousel {
    margin-top: -2%;
}
.testimonial-section{
    padding: 100px 0px 125px;
}
/* End of About us CSS */
.bottom-left {
    position: relative;
    bottom: 36px;
    left: 0px;
  }
  .catagory-margin{
      margin-bottom: 0px !important;
  }
  .sec-title-padding{
      margin: 0px ;
  }
  .side-padding1{
      padding: 0 3%;
      display: flex;
  }
  @media (min-width:576px) and (max-width:768px){
  h2[_ngcontent-c1]{
      font-size: 2rem;
  }
  .text-size h3 {
    font-size: 27px;
}

.nonprofit-section p {
   
    font-size: 14px;
}
  }
  .couses-section .image-holder .image-content{
      border: none !important;
  }

 .social .fas:hover {
    color: #4489c8;
}
.social .fas{
    color: white;
}
.social .v-color{
color: white;
}
.social .v-color:hover{
    color: #4489c8;
}

@media (min-width:768px) and (max-width:992px){
    h2 span {
        
        font: bold 13px/15px Helvetica, Sans-Serif !important;
    }
}
.wrapper{
    background:none !important;
}

@media (min-width:866px) and (max-width:1006px){
    .couses-section .image-holder .image-content h5 {
        font-size: 18px;
    }
}


@media (min-width:767px) and (max-width:866px){
    .couses-section .image-holder .image-content h5 {
        font-size: 15px !important;
        
    }
}

@media (min-width:768px) and (max-width:844px){

    .container-curated{
        max-width: 100% !important;
        padding-left: 2% !important;
        padding-right: 2% !important;
    }
}

.couses-section .image-holder .image-content h5 {
  
    height: 40px;
    font-size:20px;
}
.formlabel label {
    color: #666666;
    font-weight: 400;
    font-family: 'Nanum Gothic', sans-serif;
}
.formlabel input,label{
    font-size:14px;
   
}
h4, .h4 {
    font-family: 'Nanum Gothic', sans-serif; 
}
.knowmore{
    float: right;
    cursor: pointer;
    font-size: 14px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.stars{
    font-size:12px !important;
    z-index:-1;
    float:right;
    padding-right:10px;

}

.con-profit{
    padding-left: 3% !important;
    padding-right: 5% !important;
}

.col-paddingleft{
    padding-right: 5% !important;
    padding-left: 5% !important;

}


.col-paddingright{
    padding-left: 2%;

}
.col-paddingleft select{
    padding:0px !important;
    height:30px;
}
.col-paddingright select{
    padding: 0px !important;
    height:30px;
} 


.nonprofit-section p {
   
    font-size: 14px !important;
}

.vertical { 
    border-left: 2px solid white; 
    height: 200px; 
    position:absolute; 
    left: 50%; 
    padding-right: 15px !important;
} 

.invalid-feedback {
 
    font-size: 15px !important;
}

.couses-section .image-holder .image-content h6 {
 
    height: 35px;
}
.modal-dialog{
    max-width: 800px;
}
.modal-content {
    margin-top: 10%;
}
.modal-body{
    padding-right: 50px !important;
    padding-left: 50px !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.modal-body .col-md-6{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
/* .col-half h3 {
    font-size: 29px !important;
    height: 77px;
} */

@media (min-width:320px) and (max-width:711px){
    .vertical {
        position: inherit !important;
    }
    .col-margin{
        margin-top: 15% !important;
    }
   
}
@media (min-width:320px) and (max-width:425px){
    .sec-title h3 {
        font-size: 19px !important;
}
.col-margin{
    margin-top: 35% !important;
}
h2 span{
    font: bold 13px/15px Helvetica, Sans-Serif !important;
}
.vertical { 
    padding-right: 0px !important;
} 

.nonprofit-section p{
    height: 160px !important;
}
}

@media (min-width:425px) and (max-width:768px){
    .sec-title h3 {
        font-size: 22px !important;
}
}

@media (min-width:320px) and (max-width:768px){
   

    .vertical { 
        border-left: 0px solid white; 
}
}

.zoom {
    padding: 40px;

    transition: transform .2s; /* Animation */
    /* width: 200px; */
    /* height: 200px; */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


    /* Safari only */


  @media screen and (-webkit-min-device-pixel-ratio:0) { 
   
    /* Safari only override */
    ::input.cform, select, textarea{

margin-top: 5%;
    }

    ::i-block-chrome,.testimonial-section .icon-quort i {
       
        margin-left: 430px;
    }

    ::i-block-chrome,.testimonial-section .icon-quort:after {
        margin-left: 470px;
    }


}

.sec-title{
    
    padding-top: 3%;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}

.search-height{
height: calc(4rem + .75rem + 2px);
}

iframe {
    width: inherit;
}

.container-video{
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.video-padding{
    padding-left: 0% !important;
    padding-right: 0.4% !important;
}

.modal-header {
  
    background-color: #0089c8;
    color: #fff;
}

.welcome-section p {
 
    color: #000 !important;
}
#Modalngo{
    overflow: scroll;
}

#Modalcoed{
    overflow: scroll;
}

.modal-gallery{
    padding:0px !important
}

.modal-gallery img{
height: 500px;
width:100% !important;
}

.close-gallery{
position: absolute;
font-size: 25px;
padding-left: 97%;
z-index: 999;
}
.close{
    opacity: 5;
    color:#ffffff;
}
.carousel-indicators li {
  
    width: 0px !important;
    height: 0px !important;
}

.form-font{
 color: #0089c8;
 text-align: center;
}

.couses-section .image-holder figure{
    margin: 0 0 5rem;
}
.couses-section .image-holder .image-content h5 {
line-height: 30px !important;
}

.form-control {
    
    background-color: #f5f8f9 !important;
}

#message{
    font-size:18px;
    color: #0089c8;
}

label:after {
    content: " * ";
    color: red;
    font-size: 18px;
}

.captborder span{
 text-transform: capitalize;
 font-family: 'Nanum Gothic', sans-serif;
}
.btn-op {

    border-radius: 15px !important;
}

.testimonial-section .author-info .designation {
    font-family: 'Nanum Gothic', sans-serif;
}

.btn-lg{
float: right;
 border-radius: 3.25rem;
}


.nonprofit-section p{
height: 90px;
}

.captborder span{
    text-transform: capitalize;
}

#Modalschedule{

    overflow-y: scroll;
}