<div class="loading-spinner">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<app-dashboard-header></app-dashboard-header>
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Edit Profile
        </h1>
    </section>
    <div class="Editprofile">
        <flash-messages></flash-messages>
        <form [formGroup]="editprofile" (ngSubmit)="onSubmit()">
            <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Name:</label>
                    <input required type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors}"
                    />
                    <div *ngIf="submitted && f.first_name.errors " class="invalid-feedback">
                        <div *ngIf="f.first_name.errors.required ">*</div>

                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input required type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors}"
                    />
                    <div *ngIf="submitted && f.last_name.errors " class="invalid-feedback">
                        <div *ngIf="f.last_name.errors.required ">*</div>

                    </div>
                </div>
                <div class="form-group" style="display:none;">
                    <label>Name:</label>
                    <input type="text" formControlName="user_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.user_id.errors}"
                    />
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors}"
                    />

                    <div *ngIf="submitted && f.user_id.errors " class="invalid-feedback">
                        <div *ngIf="f.user_id.errors.required ">*</div>

                    </div>
                </div>
               
                <div class="form-group">
                    <label>Mobile:</label>
                    <international-phone-number  type="text" formControlName="phone" class="form-control" [minlength]="13" [maxlength]="13" [defaultCountry]="'in'" [required]="true" name="phone" [allowedCountries]="['in', 'ca', 'us']"  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"></international-phone-number>
                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                        <div *ngIf="f.phone.errors.required">*</div>
                        <div *ngIf="f.phone.errors.pattern">Mobile Number is not proper</div>

                    </div>
                </div>
           
                <div class="form-group">
                    <label>Date of birth:</label>

                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                   
                        <input type="date" max="2018-12-31" formControlName="dob" [ngModel]="dob | date:'yyyy-MM-dd'" class="form-control pull-right"  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                    </div>
                    <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                        <div *ngIf="f.dob.errors.required">*</div>

                    </div>
                    
                    
                </div>
                

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Organization:</label>
                    <input type="text" formControlName="organization" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.organization.errors }"
                    />
                    <div *ngIf="submitted && f.organization.errors" class="invalid-feedback">
                        <div *ngIf="f.organization.errors.required">*</div>
                    </div>
                </div>
                
               
                <div class="form-group">
                    <label>Designation:</label>
                    <input type="text" formControlName="designation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }"
                    />
                    <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                        <div *ngIf="f.designation.errors.required">*</div>

                    </div>
                </div>
                <div class="form-group" style="display:none;">
                        <label>Designation:</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }"
                        />
                       
                    </div>
                <div class="form-group">
                        <label>Skills:</label>
                        <input type="text" formControlName="skills" placeholder="Enter skills" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.skills.errors }"
                        />
                        <div *ngIf="submitted && f.skills.errors" class="invalid-feedback">
                            <div *ngIf="f.skills.errors.required">*</div>
    
                        </div>
                    </div>
                    <div class="form-group">
                            <label>Interests:</label>
                            <input type="text" formControlName="interests" placeholder="Enter interests" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.interests.errors }"
                            />
                        </div>
                        
                <div class="row">
                    <div class="col-md-2">
                        <img src={{fileurl}} width="100">
                    </div>
                    <div class="col-md-offset-3 col-md-6" style="margin-top:10px;">
                        <input type="file" accept="image/*" #fileupload formControlName="file1" name="file" (change)="fileChange(fileupload.files)"
                        />
                    </div>

                </div>
            </div>


        </div>
            <br>
            <div class="form-group login-btn">
                <button class="btn btn-primary btn-lg update">Update</button>

            </div>
        </form>
    </div>
</div>